In [1]:
import pandas as pd

In [2]:
hs = pd.read_parquet('corrected_HS_1_20.parquet')
col = pd.read_parquet('corrected_Col_1_20.parquet')

In [3]:
hs.head(1)

,ID,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points,Gender
0,515075,Tiago ASAKAWA,UMBC,15.96,<NA>,<NA>,23.31,<NA>,50.21,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M

In [4]:
col[col.Name=='Nicholas Edwards']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,Name_School,ID
78061,50 Freestyle SCY Male,36,25.97,Nicholas Edwards,Western Connecticut State University,NS,2019-11-07,M,III,19_20,2020,0 days 00:00:25.970000,25.97,312.853550,2630.0,5656.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78070,100 Freestyle SCY Male,32,57.14,Nicholas Edwards,Western Connecticut State University,NS,2019-11-24,M,III,19_20,2020,0 days 00:00:57.140000,57.14,340.484996,2508.0,5501.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78089,50 Backstroke SCY Male,15,29.46,Nicholas Edwards,Western Connecticut State University,NS,2019-12-07,M,III,19_20,2020,0 days 00:00:29.460000,29.46,316.186913,1023.0,2175.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78096,100 Backstroke SCY Male,20,1:07.79,Nicholas Edwards,Western Connecticut State University,NS,2019-11-23,M,III,19_20,2020,0 days 00:01:07.790000,67.79,261.499224,1457.0,3151.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78101,200 Backstroke SCY Male,17,2:31.97,Nicholas Edwards,Western Connecticut State University,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:31.970000,151.97,247.150650,1066.0,2330.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78111,100 Breaststroke SCY Male,23,1:24.47,Nicholas Edwards,Western Connecticut State University,NS,2019-10-12,M,III,19_20,2020,0 days 00:01:24.470000,84.47,191.755092,1508.0,3078.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78119,50 Butterfly SCY Male,24,27.99,Nicholas Edwards,Western Connecticut State University,NS,2019-12-07,M,III,19_20,2020,0 days 00:00:27.990000,27.99,359.377211,530.0,1012.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78124,100 Butterfly SCY Male,19,1:06.24,Nicholas Edwards,Western Connecticut State University,NS,2019-11-07,M,III,19_20,2020,0 days 00:01:06.240000,66.24,269.755517,1818.0,4052.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78130,100 Individual Medley SCY Male,12,1:03.69,Nicholas Edwards,Western Connecticut State University,NS,2020-02-16,M,III,19_20,2020,0 days 00:01:03.690000,63.69,392.448343,738.0,1340.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78137,200 Individual Medley SCY Male,17,2:28.14,Nicholas Edwards,Western Connecticut State University,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:28.140000,148.14,275.044462,1604.0,3621.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
91286,100 Freestyle SCY Male,24,49.68,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-10-23,M,III,21_22,2022,0 days 00:00:49.680000,49.68,518.052681,1199.0,3557.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91313,200 Freestyle SCY Male,5,1:42.51,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:42.510000,102.51,650.259805,232.0,1389.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91471,100 Breaststroke SCY Male,10,1:01.66,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:01.660000,61.66,492.996490,624.0,1887.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91495,200 Breaststroke SCY Male,14,2:23.19,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-01-07,M,III,21_22,2022,0 days 00:02:23.190000,143.19,409.707973,732.0,1908.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91512,100 Butterfly SCY Male,12,53.62,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:53.620000,53.62,508.570164,631.0,2384.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91534,200 Butterfly SCY Male,2,1:54.66,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:01:54.660000,114.66,612.029076,181.0,932.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91564,200 Individual Medley SCY Male,3,1:54.21,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:54.210000,114.21,600.215949,192.0,1126.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
93072,200 Freestyle SCY Male,36,2:05.72,Nicholas Edwards,Western Connecticut State University,NS,2022-01-21,M,III,21_22,2022,0 days 00:02:05.720000,125.72,352.510854,2085.0,4639.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93094,500 Freestyle SCY Male,23,6:08.64,Nicholas Edwards,Western Connecticut State University,NS,2022-01-12,M,III,21_22,2022,0 days 00:06:08.640000,368.64,283.992349,1431.0,3122.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93135,50 Backstroke SCY Male,19,29.31,Nicholas Edwards,Western Connecticut State University,NS,2021-12-04,M,III,21_22,2022,0 days 00:00:29.310000,29.31,321.066255,1027.0,2190.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93160,100 Backstroke SCY Male,25,1:06.20,Nicholas Edwards,Western Connecticut State University,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:06.200000,66.20,280.797565,1420.0,3107.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93178,200 Backstroke SCY Male,17,2:30.12,Nicholas Edwards,Western Connecticut State University,NS,2022-02-05,M,III,21_22,2022,0 days 00:02:30.120000,150.12,256.400980,1016.0,2288.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93237,50 Butterfly SCY Male,17,27.21,Nicholas Edwards,Western Connecticut State University,NS,2022-02-21,M,III,21_22,2022,0 days 00:00:27.210000,27.21,391.177263,480.0,914.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93256,100 Butterfly SCY Male,22,1:00.76,Nicholas Edwards,Western Connecticut State University,NS,2022-02-20,M,III,21_22,2022,0 days 00:01:00.760000,60.76,349.524813,1583.0,3859.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93293,100 Individual Medley SCY Male,26,1:07.66,Nicholas Edwards,Western Connecticut State University,NS,2022-01-14,M,III,21_22,2022,0 days 00:01:07.660000,67.66,327.340895,757.0,1341.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93311,200 Individual Medley SCY Male,19,2:20.34,Nicholas Edwards,Western Connecticut State University,NS,2022-02-20,M,III,21_22,2022,0 days 00:02:20.340000,140.34,323.500912,1545.0,3616.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
120461,100 Freestyle SCY Male,6,47.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-12-03,M,III,22_23,2023,0 days 00:00:47.340000,47.34,598.734007,486.0,2134.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120498,200 Freestyle SCY Male,20,1:49.31,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-01-28,M,III,22_23,2023,0 days 00:01:49.310000,109.31,536.297691,954.0,3026.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120597,100 Breaststroke SCY Male,6,58.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:58.340000,58.34,582.043059,258.0,1121.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120618,100 Butterfly SCY Male,7,51.39,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:51.390000,51.39,577.690804,311.0,1591.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120633,200 Butterfly SCY Male,4,1:55.39,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:01:55.390000,115.39,600.486637,197.0,1047.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120656,200 Individual Medley SCY Male,5,1:57.32,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:01:57.320000,117.32,553.737280,393.0,1710.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038

In [5]:
col.head(1)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,Name_School,ID
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.2,664.81809,252.0,291.0,15.96,Tiago ASAKAWA - UMBC,515075

In [6]:
records = pd.read_csv('all_records.csv').set_index('Event')
records.head()

                           Time
Event
50 Freestyle SCY Male     17.63
100 Freestyle SCY Male    39.90
200 Freestyle SCY Male    88.81
500 Freestyle SCY Male   242.31
1000 Freestyle SCY Male  513.93

In [7]:
records.shape

(106, 1)

In [8]:
hs.columns[4:48]

Index(['50 Y Free Time', '50 S Free Time', '50 L Free Time', '100 Y Free Time',
       '100 S Free Time', '100 L Free Time', '200 Y Free Time',
       '200 S Free Time', '200 L Free Time', '500 Y Free Time',
       '400 S Free Time', '400 L Free Time', '1000 Y Free Time',
       '800 S Free Time', '800 L Free Time', '1650 Y Free Time',
       '1500 S Free Time', '1500 L Free Time', '100 Y Back Time',
       '100 S Back Time', '100 L Back Time', '200 Y Back Time',
       '200 S Back Time', '200 L Back Time', '100 Y Breast Time',
       '100 S Breast Time', '100 L Breast Time', '200 Y Breast Time',
       '200 S Breast Time', '200 L Breast Time', '100 Y Fly Time',
       '100 S Fly Time', '100 L Fly Time', '200 Y Fly Time', '200 S Fly Time',
       '200 L Fly Time', '100 Y IM Time', '100 S IM Time', '200 Y IM Time',
       '200 S IM Time', '200 L IM Time', '400 Y IM Time', '400 S IM Time',
       '400 L IM Time'],
      dtype='object')

In [9]:
hs.dtypes

ID                          int64
Name               string[python]
School                   category
Power                     float64
50 Y Free Time     string[python]
                        ...
200 L IM Points           float64
400 Y IM Points           float64
400 S IM Points           float64
400 L IM Points           float64
Gender                   category
Length: 93, dtype: object

In [10]:
hs.ID.nunique()

11587

In [11]:
col.ID.nunique()

11405

In [12]:
# 1. Get the unique IDs in both DataFrames
hs_ids = hs['ID'].unique()
col_ids = col['ID'].unique()

# 2. Find the IDs in hs that are not in col_filtered
missing_ids = set(hs_ids) - set(col_ids)

# 3. Retrieve the associated 'Name' and 'School' for those missing IDs from hs
missing_rows = hs[hs['ID'].isin(missing_ids)][['ID', 'Name', 'School']]

# Display the result
missing_rows.head(10)  # You can adjust the number to display more or fewer rows

          ID              Name                              School
27    701079  Daniel Jablonski  New Jersey Institute of Technology
56    361874      Connor Doyle         Virginia Military Institute
87    854571     Cameron Green     Indiana University-Indianapolis
196   245118       Mason Adams                            Canisius
234   419489      Jacob Powell                          Ball State
241   622431      Austin Smith            University of Evansville
251  1495145     Jacob Sampson            University of Evansville
276   356493      Andrew Davis                             Pacific
286   290537     Walker Wilson                             Pacific
318   169385        Ryan Burke                   Bryant University

In [13]:
# 1. Delete rows from hs that correspond to the missing IDs
hs = hs[~hs['ID'].isin(missing_ids)]

# Display the updated hs DataFrame
hs.head(2)  # Adjust the number as needed to check the result

,ID,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points,Gender
0,515075,Tiago ASAKAWA,UMBC,15.96,<NA>,<NA>,23.31,<NA>,50.21,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
1,413265,Niklas Weigelt,UMBC,8.38,<NA>,<NA>,23.60,44.36,<NA>,<NA>,...,NaN,100.0,NaN,18.97,NaN,NaN,100.0,NaN,NaN,M

In [14]:
import pandas as pd

# Assuming 'hs' is the updated DataFrame after removing missing IDs
# Reset the index so 'ID' becomes a column
hs_reset = hs.reset_index()

# Melt the DataFrame to create a long format, including 'Name' and 'School' in id_vars
melted = hs_reset.melt(
    id_vars=['ID', 'Gender', 'Name', 'School'],  # Add 'Name' and 'School' to id_vars
    value_vars=[col for col in hs.columns if 'Time' in col],
    var_name='Event', 
    value_name='Time'
)

# Filter out rows where 'Time' is <NA>
melted = melted.dropna(subset=['Time'])

# Extract the corresponding points columns for each event
def get_points_column(event):
    return event.replace('Time', 'Points')

# Ensure that IDs in melted exist in hs
melted = melted[melted['ID'].isin(hs['ID'])]

# Add a 'Points' column by mapping the event to its points, using .loc[] to avoid errors
melted['Points'] = melted.apply(lambda row: hs.loc[hs['ID'] == row['ID'], get_points_column(row['Event'])].values[0], axis=1)

# Create the new DataFrame with the required columns
new_df = melted[['ID', 'Name', 'School', 'Event', 'Time', 'Gender', 'Points']]

# Display the new DataFrame
new_df.head()

,ID,Name,School,Event,Time,Gender,Points
2,394588,Ben Beldner,Binghamton,50 Y Free Time,21.22,M,20.52
3,471360,Justin Meyn,Binghamton,50 Y Free Time,20.87,M,20.80
4,395308,Joshua Franco,New Jersey Institute of Technology,50 Y Free Time,21.31,M,22.05
5,404642,Gabe Laracuente,UMBC,50 Y Free Time,21.05,M,23.93
6,422211,Ryan Board,Binghamton,50 Y Free Time,21.70,M,28.82

In [15]:
# Count the non-NaN values in columns 3 to 47 (indices 3 to 46)
non_nan_count = hs.iloc[:, 4:48].count().sum()

# Display the result
print(non_nan_count)

126358

In [16]:
new_df.shape

(126358, 7)

In [17]:
new_df[new_df.Name=='Vineet Ranade']

,ID,Name,School,Event,Time,Gender,Points
4038,418728,Vineet Ranade,Rose-Hulman Institute of Technology,50 Y Free Time,21.81,M,33.78
38253,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y Free Time,46.86,M,23.82
72468,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y Free Time,1:41.96,M,19.71
106683,418728,Vineet Ranade,Rose-Hulman Institute of Technology,500 Y Free Time,4:37.66,M,22.23
140898,418728,Vineet Ranade,Rose-Hulman Institute of Technology,1000 Y Free Time,9:59.66,M,36.06
175113,418728,Vineet Ranade,Rose-Hulman Institute of Technology,1650 Y Free Time,16:50.68,M,37.04
209328,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y Back Time,53.46,M,45.20
243543,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y Back Time,1:58.60,M,49.75
277758,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y Breast Time,58.91,M,30.56
311973,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y Breast Time,2:06.62,M,26.64
346188,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y Fly Time,50.59,M,25.59
380403,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y Fly Time,1:52.90,M,25.59
414618,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y IM Time,1:04.14,M,100.00
437428,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y IM Time,1:54.71,M,26.19
471643,418728,Vineet Ranade,Rose-Hulman Institute of Technology,400 Y IM Time,4:07.82,M,26.67

In [18]:
def parse_time_to_timedelta(time_str):
    if '.' in time_str:
        # Case 1: S.CC, SS.CC, M:SS.CC, MM:SS.CC formats
        if ':' in time_str:
            minutes, seconds = time_str.split(':')
            seconds, centiseconds = seconds.split('.')
            return pd.Timedelta(minutes=int(minutes), seconds=int(seconds), milliseconds=int(centiseconds)*10)
        else:
            # Cases like S.CC or SS.CC
            seconds, centiseconds = time_str.split('.')
            return pd.Timedelta(seconds=int(seconds), milliseconds=int(centiseconds)*10)
    return pd.Timedelta(seconds=0)

# Apply the function to the Time column to create the Time_Adj column
new_df['Time_Adj'] = new_df['Time'].apply(parse_time_to_timedelta)

/tmp/ipykernel_1197008/872589566.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Time_Adj'] = new_df['Time'].apply(parse_time_to_timedelta)

In [19]:
new_df[new_df.Name=='Vineet Ranade']

,ID,Name,School,Event,Time,Gender,Points,Time_Adj
4038,418728,Vineet Ranade,Rose-Hulman Institute of Technology,50 Y Free Time,21.81,M,33.78,0 days 00:00:21.810000
38253,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y Free Time,46.86,M,23.82,0 days 00:00:46.860000
72468,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y Free Time,1:41.96,M,19.71,0 days 00:01:41.960000
106683,418728,Vineet Ranade,Rose-Hulman Institute of Technology,500 Y Free Time,4:37.66,M,22.23,0 days 00:04:37.660000
140898,418728,Vineet Ranade,Rose-Hulman Institute of Technology,1000 Y Free Time,9:59.66,M,36.06,0 days 00:09:59.660000
175113,418728,Vineet Ranade,Rose-Hulman Institute of Technology,1650 Y Free Time,16:50.68,M,37.04,0 days 00:16:50.680000
209328,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y Back Time,53.46,M,45.20,0 days 00:00:53.460000
243543,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y Back Time,1:58.60,M,49.75,0 days 00:01:58.600000
277758,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y Breast Time,58.91,M,30.56,0 days 00:00:58.910000
311973,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y Breast Time,2:06.62,M,26.64,0 days 00:02:06.620000
346188,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y Fly Time,50.59,M,25.59,0 days 00:00:50.590000
380403,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y Fly Time,1:52.90,M,25.59,0 days 00:01:52.900000
414618,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Y IM Time,1:04.14,M,100.00,0 days 00:01:04.140000
437428,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Y IM Time,1:54.71,M,26.19,0 days 00:01:54.710000
471643,418728,Vineet Ranade,Rose-Hulman Institute of Technology,400 Y IM Time,4:07.82,M,26.67,0 days 00:04:07.820000

In [20]:
new_df.shape

(126358, 8)

In [21]:
new_df.columns

Index(['ID', 'Name', 'School', 'Event', 'Time', 'Gender', 'Points',
       'Time_Adj'],
      dtype='object')

In [22]:
new_df.isna().sum().sum()

0

In [23]:
new_df.shape

(126358, 8)

In [24]:
new_df.Event.value_counts()

Event
100 Y Free Time      8315
200 Y Free Time      8309
200 Y IM Time        8186
100 Y Back Time      8093
100 Y Breast Time    7786
500 Y Free Time      7342
50 Y Free Time       7328
100 Y Fly Time       7240
200 Y Back Time      6795
200 Y Breast Time    5881
400 Y IM Time        5857
100 Y IM Time        5540
200 Y Fly Time       5426
1000 Y Free Time     3791
50 L Free Time       3362
1650 Y Free Time     3158
100 L Fly Time       2486
100 L Free Time      2291
200 L Free Time      1829
200 L IM Time        1661
400 L Free Time      1656
100 L Back Time      1584
800 L Free Time      1488
200 L Back Time      1373
200 L Breast Time    1329
400 L IM Time        1325
100 L Breast Time    1231
200 L Fly Time       1188
1500 L Free Time     1113
100 S IM Time         457
100 S Free Time       305
200 S Free Time       288
200 S IM Time         272
50 S Free Time        267
100 S Back Time       260
400 S Free Time       248
200 S Back Time       197
400 S IM Time         190
100 S Breast Time     182
100 S Fly Time        181
200 S Fly Time        159
800 S Free Time       134
200 S Breast Time     132
1500 S Free Time      123
Name: count, dtype: int64

In [25]:
col.Event.value_counts()

Event
50 Freestyle SCY Female             14712
100 Freestyle SCY Female            14527
200 Freestyle SCY Female            12165
50 Freestyle SCY Male               10964
100 Freestyle SCY Male              10795
100 Butterfly SCY Female             9886
200 Individual Medley SCY Female     9670
200 Freestyle SCY Male               9164
100 Backstroke SCY Female            9087
500 Freestyle SCY Female             8495
100 Butterfly SCY Male               8003
200 Individual Medley SCY Male       7352
100 Breaststroke SCY Female          7238
200 Backstroke SCY Female            6612
100 Backstroke SCY Male              6348
500 Freestyle SCY Male               6260
50 Backstroke SCY Female             6208
100 Breaststroke SCY Male            5842
200 Breaststroke SCY Female          5665
200 Butterfly SCY Female             5458
1000 Freestyle SCY Female            5015
400 Individual Medley SCY Female     4982
200 Butterfly SCY Male               4627
200 Breaststroke SCY Male            4589
50 Backstroke SCY Male               4588
200 Backstroke SCY Male              4587
400 Individual Medley SCY Male       3973
1000 Freestyle SCY Male              3811
100 Individual Medley SCY Female     3710
1650 Freestyle SCY Female            3689
1650 Freestyle SCY Male              2903
50 Butterfly SCY Female              2662
100 Individual Medley SCY Male       2618
50 Breaststroke SCY Female           2102
50 Butterfly SCY Male                1915
50 Breaststroke SCY Male             1526
Name: count, dtype: int64

In [26]:
# Define a function to modify the 'Event' column
def format_event(row):
    # Map for strokes and courses
    stroke_map = {
        'Free': 'Freestyle',
        'Fly': 'Butterfly',
        'Breast': 'Breaststroke',
        'Back': 'Backstroke',
        'IM': 'Individual Medley'
    }
    
    course_map = {
        'Y': 'SCY',  # Short Course Yard
        'L': 'LCM',  # Long Course Meter
        'S': 'SCM'   # Short Course Meter
    }
    
    # Replace stroke and course abbreviations with full names
    stroke = row['Event'].split()[2]  # Get the stroke from the event string
    course = row['Event'].split()[1]  # Get the course from the event string
    distance = row['Event'].split()[0]  # Get the distance
    gender = 'Male' if row['Gender'] == 'M' else 'Female'  # Set gender
    
    # Apply the mappings
    stroke_longform = stroke_map.get(stroke, stroke)  # Default to original if not found
    course_longform = course_map.get(course, course)  # Default to original if not found
    
    # Construct the new event string
    new_event = f"{distance} {stroke_longform} {course_longform} {gender}"
    
    return new_event

# Apply the function to the 'Event' column
new_df['Event'] = new_df.apply(format_event, axis=1)

# Display the updated DataFrame
new_df.head()

/tmp/ipykernel_1197008/1885186661.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Event'] = new_df.apply(format_event, axis=1)

,ID,Name,School,Event,Time,Gender,Points,Time_Adj
2,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000
3,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000
4,395308,Joshua Franco,New Jersey Institute of Technology,50 Freestyle SCY Male,21.31,M,22.05,0 days 00:00:21.310000
5,404642,Gabe Laracuente,UMBC,50 Freestyle SCY Male,21.05,M,23.93,0 days 00:00:21.050000
6,422211,Ryan Board,Binghamton,50 Freestyle SCY Male,21.70,M,28.82,0 days 00:00:21.700000

In [27]:
new_df.shape

(126358, 8)

In [28]:
new_df[new_df.Name=='Vineet Ranade']

,ID,Name,School,Event,Time,Gender,Points,Time_Adj
4038,418728,Vineet Ranade,Rose-Hulman Institute of Technology,50 Freestyle SCY Male,21.81,M,33.78,0 days 00:00:21.810000
38253,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Freestyle SCY Male,46.86,M,23.82,0 days 00:00:46.860000
72468,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Freestyle SCY Male,1:41.96,M,19.71,0 days 00:01:41.960000
106683,418728,Vineet Ranade,Rose-Hulman Institute of Technology,500 Freestyle SCY Male,4:37.66,M,22.23,0 days 00:04:37.660000
140898,418728,Vineet Ranade,Rose-Hulman Institute of Technology,1000 Freestyle SCY Male,9:59.66,M,36.06,0 days 00:09:59.660000
175113,418728,Vineet Ranade,Rose-Hulman Institute of Technology,1650 Freestyle SCY Male,16:50.68,M,37.04,0 days 00:16:50.680000
209328,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Backstroke SCY Male,53.46,M,45.20,0 days 00:00:53.460000
243543,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Backstroke SCY Male,1:58.60,M,49.75,0 days 00:01:58.600000
277758,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Breaststroke SCY Male,58.91,M,30.56,0 days 00:00:58.910000
311973,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Breaststroke SCY Male,2:06.62,M,26.64,0 days 00:02:06.620000
346188,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Butterfly SCY Male,50.59,M,25.59,0 days 00:00:50.590000
380403,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Butterfly SCY Male,1:52.90,M,25.59,0 days 00:01:52.900000
414618,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Individual Medley SCY Male,1:04.14,M,100.00,0 days 00:01:04.140000
437428,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Individual Medley SCY Male,1:54.71,M,26.19,0 days 00:01:54.710000
471643,418728,Vineet Ranade,Rose-Hulman Institute of Technology,400 Individual Medley SCY Male,4:07.82,M,26.67,0 days 00:04:07.820000

In [29]:
# Remove exact duplicate rows
new_df = new_df.drop_duplicates()

new_df.shape

(126358, 8)

In [30]:
new_df['Time_Sec'] = new_df['Time_Adj'].apply(lambda x: x.total_seconds())
new_df.head(2)

,ID,Name,School,Event,Time,Gender,Points,Time_Adj,Time_Sec
2,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000,21.22
3,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000,20.87

In [31]:
merged_df = pd.merge(new_df, records.reset_index()[['Event', 'Time']], on='Event', how='left', suffixes=('_df', '_record'))
merged_df.head(2)

,ID,Name,School,Event,Time_df,Gender,Points,Time_Adj,Time_Sec,Time_record
0,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000,21.22,17.63
1,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000,20.87,17.63

In [32]:
merged_df.shape

(126358, 10)

In [33]:
# Compute the points based on the provided formula
merged_df['points'] = 1000 * (merged_df['Time_record'] / merged_df['Time_Sec'])**3

# If you want to keep the result in 'df', you can assign the 'points' column
new_df['SC_Points'] = merged_df['points']
new_df.head(2)

,ID,Name,School,Event,Time,Gender,Points,Time_Adj,Time_Sec,SC_Points
2,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000,21.22,566.247878
3,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000,20.87,587.490213

In [34]:
new_df.ID.nunique()

11405

In [35]:
new_df.Name.nunique()

11242

In [36]:
col.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,Name_School,ID
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,15.96,Tiago ASAKAWA - UMBC,515075
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,8.38,Niklas Weigelt - UMBC,413265

In [37]:
new_df['Conf_Rank']=-1
new_df['Div_Rank']=-1
new_df['NCAA_Rank']=-1
new_df['Season']='00_01'
new_df['SeasonYear']=2001
new_df['Division']='HS'
new_df['Standard']='NA'
new_df['Date']='2000-01-01'

In [38]:
new_df.head(2)

,ID,Name,School,Event,Time,Gender,Points,Time_Adj,Time_Sec,SC_Points,Conf_Rank,Div_Rank,NCAA_Rank,Season,SeasonYear,Division,Standard,Date
2,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000,21.22,566.247878,-1,-1,-1,00_01,2001,HS,NA,2000-01-01
3,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000,20.87,587.490213,-1,-1,-1,00_01,2001,HS,NA,2000-01-01

In [39]:
new_df = new_df.rename(columns={'Points': 'Power'})
new_df = new_df.rename(columns={'SC_Points': 'Points'})

In [40]:
new_df.head(2)

,ID,Name,School,Event,Time,Gender,Power,Time_Adj,Time_Sec,Points,Conf_Rank,Div_Rank,NCAA_Rank,Season,SeasonYear,Division,Standard,Date
2,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000,21.22,566.247878,-1,-1,-1,00_01,2001,HS,NA,2000-01-01
3,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000,20.87,587.490213,-1,-1,-1,00_01,2001,HS,NA,2000-01-01

In [41]:
power_overall = pd.read_parquet('corrected_cleaned_names.parquet')
power_overall.head()

       ID            Name                              School  Power
0  515075   Tiago ASAKAWA                                UMBC  15.96
1  413265  Niklas Weigelt                                UMBC   8.38
2  394588     Ben Beldner                          Binghamton  22.71
3  471360     Justin Meyn                          Binghamton  10.06
4  395308   Joshua Franco  New Jersey Institute of Technology  12.40

In [42]:
power_overall[power_overall.ID=='418728']

Empty DataFrame
Columns: [ID, Name, School, Power]
Index: []

In [43]:
power_overall = power_overall.rename(columns={'Power': 'Power_Tot'})
power_overall = power_overall[['ID','Power_Tot']]

In [44]:
power_overall.head(2)

       ID  Power_Tot
0  515075      15.96
1  413265       8.38

In [45]:
power_overall[power_overall.ID=='418728']

Empty DataFrame
Columns: [ID, Power_Tot]
Index: []

In [46]:
power_overall = power_overall.set_index('ID')
power_overall = power_overall.rename(index={'#': 368904})
power_overall = power_overall.reset_index()
power_overall.ID=power_overall.ID.astype('int64')

In [47]:
# Filter power_overall to keep only rows where 'ID' is in new_df['ID']
power_overall = power_overall[power_overall['ID'].isin(new_df['ID'])]

In [48]:
power_overall = power_overall.drop_duplicates()

In [49]:
power_overall.shape

(11405, 2)

In [50]:
new_df['Power_Tot']=-1

In [51]:
new_df = new_df.merge(power_overall[['ID', 'Power_Tot']], on='ID', how='left')

In [52]:
new_df = new_df.drop('Power_Tot_x',axis=1)
new_df = new_df.rename(columns={'Power_Tot_y': 'Power_Tot'})

In [53]:
new_df.head(2)

,ID,Name,School,Event,Time,Gender,Power,Time_Adj,Time_Sec,Points,Conf_Rank,Div_Rank,NCAA_Rank,Season,SeasonYear,Division,Standard,Date,Power_Tot
0,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000,21.22,566.247878,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,22.71
1,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000,20.87,587.490213,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,10.06

In [54]:
new_df[new_df.Name=='Vineet Ranade'].head()

,ID,Name,School,Event,Time,Gender,Power,Time_Adj,Time_Sec,Points,Conf_Rank,Div_Rank,NCAA_Rank,Season,SeasonYear,Division,Standard,Date,Power_Tot
2787,418728,Vineet Ranade,Rose-Hulman Institute of Technology,50 Freestyle SCY Male,21.81,M,33.78,0 days 00:00:21.810000,21.81,589.052856,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,21.88
13941,418728,Vineet Ranade,Rose-Hulman Institute of Technology,100 Freestyle SCY Male,46.86,M,23.82,0 days 00:00:46.860000,46.86,451.951366,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,21.88
24872,418728,Vineet Ranade,Rose-Hulman Institute of Technology,200 Freestyle SCY Male,1:41.96,M,19.71,0 days 00:01:41.960000,101.96,299.297001,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,21.88
34949,418728,Vineet Ranade,Rose-Hulman Institute of Technology,500 Freestyle SCY Male,4:37.66,M,22.23,0 days 00:04:37.660000,277.66,413.685675,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,21.88
42965,418728,Vineet Ranade,Rose-Hulman Institute of Technology,1000 Freestyle SCY Male,9:59.66,M,36.06,0 days 00:09:59.660000,599.66,NaN,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,21.88

In [55]:
new_df.Power_Tot.isna().sum()

0

In [56]:
col.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,Name_School,ID
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,15.96,Tiago ASAKAWA - UMBC,515075
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,8.38,Niklas Weigelt - UMBC,413265

In [57]:
col.shape

(231748, 19)

In [58]:
col = col.drop('Power',axis=1)
col['Power_Tot']=-1
col = col.merge(power_overall[['ID', 'Power_Tot']], on='ID', how='left')
col = col.drop('Power_Tot_x',axis=1)
col = col.rename(columns={'Power_Tot_y': 'Power_Tot'})

In [59]:
col.Power_Tot.isna().sum()

0

In [60]:
col.shape

(231748, 19)

In [61]:
col.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Name_School,ID,Power_Tot
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,Tiago ASAKAWA - UMBC,515075,15.96
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,Niklas Weigelt - UMBC,413265,8.38

In [62]:
col[col.Name=='Tiago ASAKAWA']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Name_School,ID,Power_Tot
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,Tiago ASAKAWA - UMBC,515075,15.96
27,100 Freestyle SCY Male,2,44.82,Tiago ASAKAWA,UMBC,NS,2020-02-16,M,I,19_20,2020,0 days 00:00:44.820000,44.82,705.509929,402.0,459.0,Tiago ASAKAWA - UMBC,515075,15.96
59,200 Freestyle SCY Male,10,1:42.65,Tiago ASAKAWA,UMBC,NS,2019-11-22,M,I,19_20,2020,0 days 00:01:42.650000,102.65,647.602847,967.0,1366.0,Tiago ASAKAWA - UMBC,515075,15.96
182,100 Breaststroke SCY Male,15,58.90,Tiago ASAKAWA,UMBC,NS,2020-02-29,M,I,19_20,2020,0 days 00:00:58.900000,58.90,565.598833,651.0,1083.0,Tiago ASAKAWA - UMBC,515075,15.96
203,50 Butterfly SCY Male,4,22.77,Tiago ASAKAWA,UMBC,NS,2020-01-04,M,I,19_20,2020,0 days 00:00:22.770000,22.77,667.528999,76.0,93.0,Tiago ASAKAWA - UMBC,515075,15.96
211,100 Butterfly SCY Male,2,49.10,Tiago ASAKAWA,UMBC,NS,2020-02-15,M,I,19_20,2020,0 days 00:00:49.100000,49.10,662.348917,429.0,523.0,Tiago ASAKAWA - UMBC,515075,15.96
13959,50 Freestyle SCY Male,9,20.72,Tiago ASAKAWA,UMBC,NS,2021-12-03,M,I,21_22,2022,0 days 00:00:20.720000,20.72,616.009888,645.0,828.0,Tiago ASAKAWA - UMBC,515075,15.96
14009,100 Freestyle SCY Male,10,45.78,Tiago ASAKAWA,UMBC,NS,2021-12-05,M,I,21_22,2022,0 days 00:00:45.780000,45.78,662.050811,749.0,984.0,Tiago ASAKAWA - UMBC,515075,15.96
14065,200 Freestyle SCY Male,15,1:42.51,Tiago ASAKAWA,UMBC,NS,2022-02-12,M,I,21_22,2022,0 days 00:01:42.510000,102.51,650.259805,944.0,1389.0,Tiago ASAKAWA - UMBC,515075,15.96
14273,100 Butterfly SCY Male,17,50.12,Tiago ASAKAWA,UMBC,NS,2021-12-04,M,I,21_22,2022,0 days 00:00:50.120000,50.12,622.727608,721.0,990.0,Tiago ASAKAWA - UMBC,515075,15.96
25427,50 Freestyle SCY Male,10,20.78,Tiago ASAKAWA,UMBC,NS,2023-02-23,M,I,22_23,2023,0 days 00:00:20.780000,20.78,610.689295,723.0,953.0,Tiago ASAKAWA - UMBC,515075,15.96
25489,100 Freestyle SCY Male,18,45.90,Tiago ASAKAWA,UMBC,NS,2023-02-25,M,I,22_23,2023,0 days 00:00:45.900000,45.90,656.871819,835.0,1114.0,Tiago ASAKAWA - UMBC,515075,15.96
25539,200 Freestyle SCY Male,32,1:45.44,Tiago ASAKAWA,UMBC,NS,2022-10-08,M,I,22_23,2023,0 days 00:01:45.440000,105.44,597.543351,1271.0,2190.0,Tiago ASAKAWA - UMBC,515075,15.96
25699,100 Breaststroke SCY Male,12,58.19,Tiago ASAKAWA,UMBC,NS,2022-12-03,M,I,22_23,2023,0 days 00:00:58.190000,58.19,586.555778,671.0,1086.0,Tiago ASAKAWA - UMBC,515075,15.96
25765,100 Butterfly SCY Male,9,49.69,Tiago ASAKAWA,UMBC,NS,2023-02-24,M,I,22_23,2023,0 days 00:00:49.690000,49.69,639.034517,651.0,875.0,Tiago ASAKAWA - UMBC,515075,15.96
25823,100 Individual Medley SCY Male,5,51.70,Tiago ASAKAWA,UMBC,NS,2022-10-22,M,I,22_23,2023,0 days 00:00:51.700000,51.70,733.710302,114.0,131.0,Tiago ASAKAWA - UMBC,515075,15.96

In [63]:
col.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Name_School,ID,Power_Tot
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,Tiago ASAKAWA - UMBC,515075,15.96
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,Niklas Weigelt - UMBC,413265,8.38

In [64]:
new_df.head(2)

,ID,Name,School,Event,Time,Gender,Power,Time_Adj,Time_Sec,Points,Conf_Rank,Div_Rank,NCAA_Rank,Season,SeasonYear,Division,Standard,Date,Power_Tot
0,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000,21.22,566.247878,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,22.71
1,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000,20.87,587.490213,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,10.06

In [65]:
col['Power']=-1

In [66]:
col.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Name_School,ID,Power_Tot,Power
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,Tiago ASAKAWA - UMBC,515075,15.96,-1
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,Niklas Weigelt - UMBC,413265,8.38,-1

In [67]:
new_df.head(2)

,ID,Name,School,Event,Time,Gender,Power,Time_Adj,Time_Sec,Points,Conf_Rank,Div_Rank,NCAA_Rank,Season,SeasonYear,Division,Standard,Date,Power_Tot
0,394588,Ben Beldner,Binghamton,50 Freestyle SCY Male,21.22,M,20.52,0 days 00:00:21.220000,21.22,566.247878,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,22.71
1,471360,Justin Meyn,Binghamton,50 Freestyle SCY Male,20.87,M,20.80,0 days 00:00:20.870000,20.87,587.490213,-1,-1,-1,00_01,2001,HS,NA,2000-01-01,10.06

In [68]:
col.columns

Index(['Event', 'Conf_Rank', 'Time', 'Name', 'School', 'Standard', 'Date',
       'Gender', 'Division', 'Season', 'SeasonYear', 'Time_Adj', 'Time_Sec',
       'Points', 'Div_Rank', 'NCAA_Rank', 'Name_School', 'ID', 'Power_Tot',
       'Power'],
      dtype='object')

In [69]:
new_df.columns

Index(['ID', 'Name', 'School', 'Event', 'Time', 'Gender', 'Power', 'Time_Adj',
       'Time_Sec', 'Points', 'Conf_Rank', 'Div_Rank', 'NCAA_Rank', 'Season',
       'SeasonYear', 'Division', 'Standard', 'Date', 'Power_Tot'],
      dtype='object')

In [70]:
new_df = new_df[['Event', 'Conf_Rank', 'Time', 'Name', 'School', 'Standard', 'Date',
       'Gender', 'Division', 'Season', 'SeasonYear', 'Time_Adj', 'Time_Sec',
       'Points', 'Div_Rank', 'NCAA_Rank', 'ID', 'Power_Tot', 'Power']]

In [71]:
new_df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,566.247878,-1,-1,394588,22.71,20.52
1,50 Freestyle SCY Male,-1,20.87,Justin Meyn,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:20.870000,20.87,587.490213,-1,-1,471360,10.06,20.80

In [72]:
col.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Name_School,ID,Power_Tot,Power
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,Tiago ASAKAWA - UMBC,515075,15.96,-1
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,Niklas Weigelt - UMBC,413265,8.38,-1

In [73]:
col.dtypes

Event                 category
Conf_Rank                int64
Time            string[python]
Name            string[python]
School                category
Standard              category
Date            datetime64[ns]
Gender                category
Division              category
Season                category
SeasonYear               int64
Time_Adj       timedelta64[ns]
Time_Sec               float64
Points                 float64
Div_Rank               float64
NCAA_Rank              float64
Name_School     string[python]
ID                       int64
Power_Tot              float64
Power                    int64
dtype: object

In [74]:
col.Power = col.Power.astype('float64')
col.Div_Rank = col.Div_Rank.astype('int64')
col.NCAA_Rank = col.NCAA_Rank.astype('int64')

In [75]:
new_df.dtypes

Event                  object
Conf_Rank               int64
Time           string[python]
Name           string[python]
School               category
Standard               object
Date                   object
Gender               category
Division               object
Season                 object
SeasonYear              int64
Time_Adj      timedelta64[ns]
Time_Sec              float64
Points                float64
Div_Rank                int64
NCAA_Rank               int64
ID                      int64
Power_Tot             float64
Power                 float64
dtype: object

In [76]:
new_df.Event = new_df.Event.astype('category')
new_df.Standard = new_df.Standard.astype('category')
new_df.Date = pd.to_datetime(new_df.Date)
new_df.Division = new_df.Division.astype('category')
new_df.Season = new_df.Season.astype('category')

In [77]:
new_df.head()

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,566.247878,-1,-1,394588,22.71,20.52
1,50 Freestyle SCY Male,-1,20.87,Justin Meyn,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:20.870000,20.87,587.490213,-1,-1,471360,10.06,20.80
2,50 Freestyle SCY Male,-1,21.31,Joshua Franco,New Jersey Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.310000,21.31,536.262879,-1,-1,395308,12.40,22.05
3,50 Freestyle SCY Male,-1,21.05,Gabe Laracuente,UMBC,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.050000,21.05,497.469995,-1,-1,404642,13.77,23.93
4,50 Freestyle SCY Male,-1,21.70,Ryan Board,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.700000,21.70,509.049165,-1,-1,422211,18.21,28.82

In [78]:
combined_df = pd.concat([new_df,col],axis=0)

In [79]:
combined_df[combined_df.Name=='Vineet Ranade']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Name_School
2787,50 Freestyle SCY Male,-1,21.81,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.810000,21.81,589.052856,-1,-1,418728,21.88,33.78,<NA>
13941,100 Freestyle SCY Male,-1,46.86,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:46.860000,46.86,451.951366,-1,-1,418728,21.88,23.82,<NA>
24872,200 Freestyle SCY Male,-1,1:41.96,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:41.960000,101.96,299.297001,-1,-1,418728,21.88,19.71,<NA>
34949,500 Freestyle SCY Male,-1,4:37.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:37.660000,277.66,413.685675,-1,-1,418728,21.88,22.23,<NA>
42965,1000 Freestyle SCY Male,-1,9:59.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:09:59.660000,599.66,NaN,-1,-1,418728,21.88,36.06,<NA>
48146,1650 Freestyle SCY Male,-1,16:50.68,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:16:50.680000,1010.68,NaN,-1,-1,418728,21.88,37.04,<NA>
54083,100 Backstroke SCY Male,-1,53.46,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:53.460000,53.46,NaN,-1,-1,418728,21.88,45.20,<NA>
63578,200 Backstroke SCY Male,-1,1:58.60,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:58.600000,118.60,NaN,-1,-1,418728,21.88,49.75,<NA>
72349,100 Breaststroke SCY Male,-1,58.91,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:58.910000,58.91,NaN,-1,-1,418728,21.88,30.56,<NA>
80881,200 Breaststroke SCY Male,-1,2:06.62,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:06.620000,126.62,NaN,-1,-1,418728,21.88,26.64,<NA>
88884,100 Butterfly SCY Male,-1,50.59,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:50.590000,50.59,NaN,-1,-1,418728,21.88,25.59,<NA>
98076,200 Butterfly SCY Male,-1,1:52.90,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:52.900000,112.90,NaN,-1,-1,418728,21.88,25.59,<NA>
104761,100 Individual Medley SCY Male,-1,1:04.14,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:04.140000,64.14,NaN,-1,-1,418728,21.88,100.00,<NA>
111840,200 Individual Medley SCY Male,-1,1:54.71,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:54.710000,114.71,NaN,-1,-1,418728,21.88,26.19,<NA>
121093,400 Individual Medley SCY Male,-1,4:07.82,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:07.820000,247.82,NaN,-1,-1,418728,21.88,26.67,<NA>
69637,50 Freestyle SCY Male,13,21.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:21.820000,21.82,527.463847,553,2319,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69660,100 Freestyle SCY Male,4,46.26,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:00:46.260000,46.26,641.655324,187,1288,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69691,200 Freestyle SCY Male,1,1:40.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:40.790000,100.79,684.121556,107,965,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69734,500 Freestyle SCY Male,23,5:10.80,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-22,M,III,21_22,2022,0 days 00:05:10.800000,310.80,473.882840,931,2473,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69814,100 Breaststroke SCY Male,3,57.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:00:57.790000,57.79,598.820012,196,940,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69832,200 Breaststroke SCY Male,2,2:04.89,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:02:04.890000,124.89,617.489370,111,661,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69856,100 Butterfly SCY Male,13,53.77,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:00:53.770000,53.77,504.325813,660,2438,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69874,200 Butterfly SCY Male,6,2:00.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-15,M,III,21_22,2022,0 days 00:02:00.130000,120.13,532.173735,391,1447,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69891,200 Individual Medley SCY Male,1,1:51.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:51.820000,111.82,639.530796,87,749,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69919,400 Individual Medley SCY Male,10,4:23.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:04:23.130000,263.13,499.810272,413,1386,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91542,50 Freestyle SCY Male,1,21.12,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:00:21.120000,21.12,581.668031,207,1375,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91561,100 Freestyle SCY Male,1,45.93,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:00:45.930000,45.93,655.585517,137,1135,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91585,200 Freestyle SCY Male,1,1:39.98,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-08,M,III,22_23,2023,0 days 00:01:39.980000,99.98,700.884108,56,807,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91672,100 Breaststroke SCY Male,2,57.63,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:57.630000,57.63,603.821441,195,963,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91680,200 Breaststroke SCY Male,2,2:04.55,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:02:04.550000,124.55,622.560106,100,687,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91688,100 Butterfly SCY Male,2,49.96,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-02,M,III,22_23,2023,0 days 00:00:49.960000,49.96,628.729761,131,984,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91715,100 Individual Medley SCY Male,3,55.54,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-10-15,M,III,22_23,2023,0 days 00:00:55.540000,55.54,591.804986,162,588,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91720,200 Individual Medley SCY Male,1,1:50.38,Vineet Ranade,Rose-Hulman Institute of Technology,B,2022-12-01,M,III,22_23,2023,0 days 00:01:50.380000,110.38,664.888401,36,611,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99594,50 Freestyle SCY Male,4,21.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-30,M,III,23_24,2024,0 days 00:00:21.720000,21.72,534.782853,573,2309,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99612,100 Freestyle SCY Male,1,44.85,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:00:44.850000,44.85,704.095137,36,655,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99626,200 Freestyle SCY Male,1,1:37.63,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-24,M,III,23_24,2024,0 days 00:01:37.630000,97.63,752.723963,13,397,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99649,500 Freestyle SCY Male,17,5:10.00,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-21,M,III,23_24,2024,0 days 00:05:10,310.00,477.561086,984,2545,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99675,50 Backstroke SCY Male,10,25.81,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-01-13,M,III,23_24,2024,0 days 00:00:25.810000,25.81,470.195105,545,1544,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99689,100 Backstroke SCY Male,15,55.30,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-17,M,III,23_24,2024,0 days 00:00:55.300000,55.30,481.716932,653,2054,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99703,100 Breaststroke SCY Male,1,56.27,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-02-24,M,III,23_24,2024,0 days 00:00:56.270000,56.27,648.669747,110,713,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99711,200 Breaststroke SCY Male,1,2:00.65,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:02:00.650000,120.65,684.905264,34,401,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99718,50 Butterfly SCY Male,1,23.19,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:23.190000,23.19,631.912554,50,213,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99726,100 Butterfly SCY Male,4,51.39,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:51.390000,51.39,577.690804,338,1614,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99742,200 Butterfly SCY Male,7,1:59.25,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-04,M,III,23_24,2024,0 days 00:01:59.250000,119.25,544.042346,392,1465,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99747,100 Individual Medley SCY Male,1,52.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:52.720000,52.72,691.942556,35,220,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99752,200 Individual Medley SCY Male,1,1:49.24,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-15,M,III,23_24,2024,0 days 00:01:49.240000,109.24,685.922188,22,492,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...

In [80]:
combined_df.Event = combined_df.Event.astype('category')
combined_df.School = combined_df.School.astype('category')
combined_df.Standard = combined_df.Standard.astype('category')
combined_df.Division = combined_df.Division.astype('category')
combined_df.Season = combined_df.Season.astype('category')

In [81]:
combined_df.dtypes

Event                 category
Conf_Rank                int64
Time            string[python]
Name            string[python]
School                category
Standard              category
Date            datetime64[ns]
Gender                category
Division              category
Season                category
SeasonYear               int64
Time_Adj       timedelta64[ns]
Time_Sec               float64
Points                 float64
Div_Rank                 int64
NCAA_Rank                int64
ID                       int64
Power_Tot              float64
Power                  float64
Name_School     string[python]
dtype: object

In [82]:
combined_df[combined_df.Name=='Vineet Ranade']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Name_School
2787,50 Freestyle SCY Male,-1,21.81,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.810000,21.81,589.052856,-1,-1,418728,21.88,33.78,<NA>
13941,100 Freestyle SCY Male,-1,46.86,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:46.860000,46.86,451.951366,-1,-1,418728,21.88,23.82,<NA>
24872,200 Freestyle SCY Male,-1,1:41.96,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:41.960000,101.96,299.297001,-1,-1,418728,21.88,19.71,<NA>
34949,500 Freestyle SCY Male,-1,4:37.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:37.660000,277.66,413.685675,-1,-1,418728,21.88,22.23,<NA>
42965,1000 Freestyle SCY Male,-1,9:59.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:09:59.660000,599.66,NaN,-1,-1,418728,21.88,36.06,<NA>
48146,1650 Freestyle SCY Male,-1,16:50.68,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:16:50.680000,1010.68,NaN,-1,-1,418728,21.88,37.04,<NA>
54083,100 Backstroke SCY Male,-1,53.46,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:53.460000,53.46,NaN,-1,-1,418728,21.88,45.20,<NA>
63578,200 Backstroke SCY Male,-1,1:58.60,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:58.600000,118.60,NaN,-1,-1,418728,21.88,49.75,<NA>
72349,100 Breaststroke SCY Male,-1,58.91,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:58.910000,58.91,NaN,-1,-1,418728,21.88,30.56,<NA>
80881,200 Breaststroke SCY Male,-1,2:06.62,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:06.620000,126.62,NaN,-1,-1,418728,21.88,26.64,<NA>
88884,100 Butterfly SCY Male,-1,50.59,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:50.590000,50.59,NaN,-1,-1,418728,21.88,25.59,<NA>
98076,200 Butterfly SCY Male,-1,1:52.90,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:52.900000,112.90,NaN,-1,-1,418728,21.88,25.59,<NA>
104761,100 Individual Medley SCY Male,-1,1:04.14,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:04.140000,64.14,NaN,-1,-1,418728,21.88,100.00,<NA>
111840,200 Individual Medley SCY Male,-1,1:54.71,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:54.710000,114.71,NaN,-1,-1,418728,21.88,26.19,<NA>
121093,400 Individual Medley SCY Male,-1,4:07.82,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:07.820000,247.82,NaN,-1,-1,418728,21.88,26.67,<NA>
69637,50 Freestyle SCY Male,13,21.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:21.820000,21.82,527.463847,553,2319,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69660,100 Freestyle SCY Male,4,46.26,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:00:46.260000,46.26,641.655324,187,1288,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69691,200 Freestyle SCY Male,1,1:40.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:40.790000,100.79,684.121556,107,965,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69734,500 Freestyle SCY Male,23,5:10.80,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-22,M,III,21_22,2022,0 days 00:05:10.800000,310.80,473.882840,931,2473,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69814,100 Breaststroke SCY Male,3,57.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:00:57.790000,57.79,598.820012,196,940,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69832,200 Breaststroke SCY Male,2,2:04.89,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:02:04.890000,124.89,617.489370,111,661,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69856,100 Butterfly SCY Male,13,53.77,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:00:53.770000,53.77,504.325813,660,2438,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69874,200 Butterfly SCY Male,6,2:00.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-15,M,III,21_22,2022,0 days 00:02:00.130000,120.13,532.173735,391,1447,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69891,200 Individual Medley SCY Male,1,1:51.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:51.820000,111.82,639.530796,87,749,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
69919,400 Individual Medley SCY Male,10,4:23.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:04:23.130000,263.13,499.810272,413,1386,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91542,50 Freestyle SCY Male,1,21.12,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:00:21.120000,21.12,581.668031,207,1375,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91561,100 Freestyle SCY Male,1,45.93,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:00:45.930000,45.93,655.585517,137,1135,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91585,200 Freestyle SCY Male,1,1:39.98,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-08,M,III,22_23,2023,0 days 00:01:39.980000,99.98,700.884108,56,807,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91672,100 Breaststroke SCY Male,2,57.63,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:57.630000,57.63,603.821441,195,963,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91680,200 Breaststroke SCY Male,2,2:04.55,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:02:04.550000,124.55,622.560106,100,687,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91688,100 Butterfly SCY Male,2,49.96,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-02,M,III,22_23,2023,0 days 00:00:49.960000,49.96,628.729761,131,984,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91715,100 Individual Medley SCY Male,3,55.54,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-10-15,M,III,22_23,2023,0 days 00:00:55.540000,55.54,591.804986,162,588,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
91720,200 Individual Medley SCY Male,1,1:50.38,Vineet Ranade,Rose-Hulman Institute of Technology,B,2022-12-01,M,III,22_23,2023,0 days 00:01:50.380000,110.38,664.888401,36,611,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99594,50 Freestyle SCY Male,4,21.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-30,M,III,23_24,2024,0 days 00:00:21.720000,21.72,534.782853,573,2309,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99612,100 Freestyle SCY Male,1,44.85,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:00:44.850000,44.85,704.095137,36,655,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99626,200 Freestyle SCY Male,1,1:37.63,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-24,M,III,23_24,2024,0 days 00:01:37.630000,97.63,752.723963,13,397,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99649,500 Freestyle SCY Male,17,5:10.00,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-21,M,III,23_24,2024,0 days 00:05:10,310.00,477.561086,984,2545,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99675,50 Backstroke SCY Male,10,25.81,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-01-13,M,III,23_24,2024,0 days 00:00:25.810000,25.81,470.195105,545,1544,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99689,100 Backstroke SCY Male,15,55.30,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-17,M,III,23_24,2024,0 days 00:00:55.300000,55.30,481.716932,653,2054,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99703,100 Breaststroke SCY Male,1,56.27,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-02-24,M,III,23_24,2024,0 days 00:00:56.270000,56.27,648.669747,110,713,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99711,200 Breaststroke SCY Male,1,2:00.65,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:02:00.650000,120.65,684.905264,34,401,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99718,50 Butterfly SCY Male,1,23.19,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:23.190000,23.19,631.912554,50,213,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99726,100 Butterfly SCY Male,4,51.39,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:51.390000,51.39,577.690804,338,1614,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99742,200 Butterfly SCY Male,7,1:59.25,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-04,M,III,23_24,2024,0 days 00:01:59.250000,119.25,544.042346,392,1465,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99747,100 Individual Medley SCY Male,1,52.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:52.720000,52.72,691.942556,35,220,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...
99752,200 Individual Medley SCY Male,1,1:49.24,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-15,M,III,23_24,2024,0 days 00:01:49.240000,109.24,685.922188,22,492,418728,21.88,-1.00,Vineet Ranade - Rose-Hulman Institute of Techn...

In [83]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 358106 entries, 0 to 231747
Data columns (total 20 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Event        358106 non-null  category
 1   Conf_Rank    358106 non-null  int64
 2   Time         358106 non-null  string
 3   Name         358106 non-null  string
 4   School       358106 non-null  category
 5   Standard     358106 non-null  category
 6   Date         358106 non-null  datetime64[ns]
 7   Gender       358106 non-null  category
 8   Division     358106 non-null  category
 9   Season       358106 non-null  category
 10  SeasonYear   358106 non-null  int64
 11  Time_Adj     358106 non-null  timedelta64[ns]
 12  Time_Sec     358106 non-null  float64
 13  Points       263843 non-null  float64
 14  Div_Rank     358106 non-null  int64
 15  NCAA_Rank    358106 non-null  int64
 16  ID           358106 non-null  int64
 17  Power_Tot    358106 non-null  float64
 18  Power        358106 non-null  float64
 19  Name_School  231748 non-null  string
dtypes: category(6), datetime64[ns](1), float64(4), int64(5), string(3), timedelta64[ns](1)
memory usage: 43.4 MB

In [84]:
combined_df = combined_df.drop('Name_School',axis=1)

In [85]:
combined_df.head()

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,566.247878,-1,-1,394588,22.71,20.52
1,50 Freestyle SCY Male,-1,20.87,Justin Meyn,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:20.870000,20.87,587.490213,-1,-1,471360,10.06,20.80
2,50 Freestyle SCY Male,-1,21.31,Joshua Franco,New Jersey Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.310000,21.31,536.262879,-1,-1,395308,12.40,22.05
3,50 Freestyle SCY Male,-1,21.05,Gabe Laracuente,UMBC,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.050000,21.05,497.469995,-1,-1,404642,13.77,23.93
4,50 Freestyle SCY Male,-1,21.70,Ryan Board,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.700000,21.70,509.049165,-1,-1,422211,18.21,28.82

In [86]:
combined_df[combined_df.Name=='Nicholas Edwards']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power
7241,50 Freestyle SCY Male,-1,22.16,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:22.160000,22.16,675.238691,-1,-1,663038,25.38,40.27
13219,100 Freestyle SCY Male,-1,55.88,Nicholas Edwards,Western Connecticut State University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:55.880000,55.88,591.106938,-1,-1,490867,100.00,100.00
19166,100 Freestyle SCY Male,-1,47.46,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:47.460000,47.46,NaN,-1,-1,663038,25.38,28.60
24176,200 Freestyle SCY Male,-1,2:02.20,Nicholas Edwards,Western Connecticut State University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:02.200000,122.20,354.576855,-1,-1,490867,100.00,100.00
30074,200 Freestyle SCY Male,-1,1:42.13,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:42.130000,102.13,493.701614,-1,-1,663038,25.38,20.31
39549,500 Freestyle SCY Male,-1,4:49.74,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:49.740000,289.74,414.032088,-1,-1,663038,25.38,38.75
59347,100 Backstroke SCY Male,-1,55.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:55.340000,55.34,NaN,-1,-1,663038,25.38,60.96
68001,200 Backstroke SCY Male,-1,1:59.80,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:59.800000,119.80,NaN,-1,-1,663038,25.38,54.31
68647,200 Backstroke LCM Male,-1,2:59.87,Nicholas Edwards,Western Connecticut State University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:59.870000,179.87,NaN,-1,-1,490867,100.00,100.00
77343,100 Breaststroke SCY Male,-1,59.70,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:59.700000,59.70,NaN,-1,-1,663038,25.38,35.84
84656,200 Breaststroke SCY Male,-1,2:14.51,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:14.510000,134.51,NaN,-1,-1,663038,25.38,51.62
93337,100 Butterfly SCY Male,-1,52.27,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:52.270000,52.27,NaN,-1,-1,663038,25.38,38.42
94227,100 Butterfly LCM Male,-1,1:15.45,Nicholas Edwards,Western Connecticut State University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:15.450000,75.45,NaN,-1,-1,490867,100.00,100.00
101468,200 Butterfly SCY Male,-1,2:02.37,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:02.370000,122.37,NaN,-1,-1,663038,25.38,59.65
116947,200 Individual Medley SCY Male,-1,1:58.13,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:58.130000,118.13,NaN,-1,-1,663038,25.38,37.73
124781,400 Individual Medley SCY Male,-1,4:23.56,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:23.560000,263.56,NaN,-1,-1,663038,25.38,52.17
59858,50 Freestyle SCY Male,36,25.97,Nicholas Edwards,Western Connecticut State University,NS,2019-11-07,M,III,19_20,2020,0 days 00:00:25.970000,25.97,312.853550,2630,5656,490867,100.00,-1.00
59864,100 Freestyle SCY Male,32,57.14,Nicholas Edwards,Western Connecticut State University,NS,2019-11-24,M,III,19_20,2020,0 days 00:00:57.140000,57.14,340.484996,2508,5501,490867,100.00,-1.00
59875,50 Backstroke SCY Male,15,29.46,Nicholas Edwards,Western Connecticut State University,NS,2019-12-07,M,III,19_20,2020,0 days 00:00:29.460000,29.46,316.186913,1023,2175,490867,100.00,-1.00
59878,100 Backstroke SCY Male,20,1:07.79,Nicholas Edwards,Western Connecticut State University,NS,2019-11-23,M,III,19_20,2020,0 days 00:01:07.790000,67.79,261.499224,1457,3151,490867,100.00,-1.00
59881,200 Backstroke SCY Male,17,2:31.97,Nicholas Edwards,Western Connecticut State University,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:31.970000,151.97,247.150650,1066,2330,490867,100.00,-1.00
59888,100 Breaststroke SCY Male,23,1:24.47,Nicholas Edwards,Western Connecticut State University,NS,2019-10-12,M,III,19_20,2020,0 days 00:01:24.470000,84.47,191.755092,1508,3078,490867,100.00,-1.00
59893,50 Butterfly SCY Male,24,27.99,Nicholas Edwards,Western Connecticut State University,NS,2019-12-07,M,III,19_20,2020,0 days 00:00:27.990000,27.99,359.377211,530,1012,490867,100.00,-1.00
59895,100 Butterfly SCY Male,19,1:06.24,Nicholas Edwards,Western Connecticut State University,NS,2019-11-07,M,III,19_20,2020,0 days 00:01:06.240000,66.24,269.755517,1818,4052,490867,100.00,-1.00
59898,100 Individual Medley SCY Male,12,1:03.69,Nicholas Edwards,Western Connecticut State University,NS,2020-02-16,M,III,19_20,2020,0 days 00:01:03.690000,63.69,392.448343,738,1340,490867,100.00,-1.00
59902,200 Individual Medley SCY Male,17,2:28.14,Nicholas Edwards,Western Connecticut State University,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:28.140000,148.14,275.044462,1604,3621,490867,100.00,-1.00
69673,100 Freestyle SCY Male,24,49.68,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-10-23,M,III,21_22,2022,0 days 00:00:49.680000,49.68,518.052681,1199,3557,663038,25.38,-1.00
69694,200 Freestyle SCY Male,5,1:42.51,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:42.510000,102.51,650.259805,232,1389,663038,25.38,-1.00
69820,100 Breaststroke SCY Male,10,1:01.66,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:01.660000,61.66,492.996490,624,1887,663038,25.38,-1.00
69841,200 Breaststroke SCY Male,14,2:23.19,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-01-07,M,III,21_22,2022,0 days 00:02:23.190000,143.19,409.707973,732,1908,663038,25.38,-1.00
69855,100 Butterfly SCY Male,12,53.62,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:53.620000,53.62,508.570164,631,2384,663038,25.38,-1.00
69871,200 Butterfly SCY Male,2,1:54.66,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:01:54.660000,114.66,612.029076,181,932,663038,25.38,-1.00
69893,200 Individual Medley SCY Male,3,1:54.21,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:54.210000,114.21,600.215949,192,1126,663038,25.38,-1.00
71015,200 Freestyle SCY Male,36,2:05.72,Nicholas Edwards,Western Connecticut State University,NS,2022-01-21,M,III,21_22,2022,0 days 00:02:05.720000,125.72,352.510854,2085,4639,490867,100.00,-1.00
71026,500 Freestyle SCY Male,23,6:08.64,Nicholas Edwards,Western Connecticut State University,NS,2022-01-12,M,III,21_22,2022,0 days 00:06:08.640000,368.64,283.992349,1431,3122,490867,100.00,-1.00
71050,50 Backstroke SCY Male,19,29.31,Nicholas Edwards,Western Connecticut State University,NS,2021-12-04,M,III,21_22,2022,0 days 00:00:29.310000,29.31,321.066255,1027,2190,490867,100.00,-1.00
71062,100 Backstroke SCY Male,25,1:06.20,Nicholas Edwards,Western Connecticut State University,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:06.200000,66.20,280.797565,1420,3107,490867,100.00,-1.00
71074,200 Backstroke SCY Male,17,2:30.12,Nicholas Edwards,Western Connecticut State University,NS,2022-02-05,M,III,21_22,2022,0 days 00:02:30.120000,150.12,256.400980,1016,2288,490867,100.00,-1.00
71108,50 Butterfly SCY Male,17,27.21,Nicholas Edwards,Western Connecticut State University,NS,2022-02-21,M,III,21_22,2022,0 days 00:00:27.210000,27.21,391.177263,480,914,490867,100.00,-1.00
71116,100 Butterfly SCY Male,22,1:00.76,Nicholas Edwards,Western Connecticut State University,NS,2022-02-20,M,III,21_22,2022,0 days 00:01:00.760000,60.76,349.524813,1583,3859,490867,100.00,-1.00
71136,100 Individual Medley SCY Male,26,1:07.66,Nicholas Edwards,Western Connecticut State University,NS,2022-01-14,M,III,21_22,2022,0 days 00:01:07.660000,67.66,327.340895,757,1341,490867,100.00,-1.00
71144,200 Individual Medley SCY Male,19,2:20.34,Nicholas Edwards,Western Connecticut State University,NS,2022-02-20,M,III,21_22,2022,0 days 00:02:20.340000,140.34,323.500912,1545,3616,490867,100.00,-1.00
91564,100 Freestyle SCY Male,6,47.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-12-03,M,III,22_23,2023,0 days 00:00:47.340000,47.34,598.734007,486,2134,663038,25.38,-1.00
91594,200 Freestyle SCY Male,20,1:49.31,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-01-28,M,III,22_23,2023,0 days 00:01:49.310000,109.31,536.297691,954,3026,663038,25.38,-1.00
91674,100 Breaststroke SCY Male,6,58.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:58.340000,58.34,582.043059,258,1121,663038,25.38,-1.00
91692,100 Butterfly SCY Male,7,51.39,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:51.390000,51.39,577.690804,311,1591,663038,25.38,-1.00
91703,200 Butterfly SCY Male,4,1:55.39,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:01:55.390000,115.39,600.486637,197,1047,663038,25.38,-1.00
91723,200 Individual Medley SCY Male,5,1:57.32,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:01:57.320000,117.32,553.737280,393,1710,663038,25.38,-1.00

In [87]:
combined_df.isna().sum().sum()

94263

In [88]:
records = pd.read_csv('all_records.csv')

In [89]:
records.loc[30:40,'Event':'Record']

                               Event
30           50 Butterfly SCY Female
31          100 Butterfly SCY Female
32          200 Butterfly SCY Female
33  100 Individual Medley SCY Female
34  200 Individual Medley SCY Female
35  400 Individual Medley SCY Female
36                  50 Free LCM Male
37                 100 Free LCM Male
38                 200 Free LCM Male
39                 400 Free LCM Male
40                 800 Free LCM Male

In [90]:
import re

# Define a function to replace only the exact terms
def correct_event_name(event):
    replacements = {
        r'\bFree\b': 'Freestyle',
        r'\bBack\b': 'Backstroke',
        r'\bBreast\b': 'Breaststroke',
        r'\bFly\b': 'Butterfly',
        r'\bIM\b': 'Individual Medley'
    }
    for pattern, replacement in replacements.items():
        event = re.sub(pattern, replacement, event)
    return event

# Apply the function to the 'Event' column
records['Event'] = records['Event'].apply(correct_event_name)

# Display the updated DataFrame to verify changes
print(records['Event'].unique())

['50 Freestyle SCY Male' '100 Freestyle SCY Male' '200 Freestyle SCY Male'
 '500 Freestyle SCY Male' '1000 Freestyle SCY Male'
 '1650 Freestyle SCY Male' '50 Backstroke SCY Male'
 '100 Backstroke SCY Male' '200 Backstroke SCY Male'
 '50 Breaststroke SCY Male' '100 Breaststroke SCY Male'
 '200 Breaststroke SCY Male' '50 Butterfly SCY Male'
 '100 Butterfly SCY Male' '200 Butterfly SCY Male'
 '100 Individual Medley SCY Male' '200 Individual Medley SCY Male'
 '400 Individual Medley SCY Male' '50 Freestyle SCY Female'
 '100 Freestyle SCY Female' '200 Freestyle SCY Female'
 '500 Freestyle SCY Female' '1000 Freestyle SCY Female'
 '1650 Freestyle SCY Female' '50 Backstroke SCY Female'
 '100 Backstroke SCY Female' '200 Backstroke SCY Female'
 '50 Breaststroke SCY Female' '100 Breaststroke SCY Female'
 '200 Breaststroke SCY Female' '50 Butterfly SCY Female'
 '100 Butterfly SCY Female' '200 Butterfly SCY Female'
 '100 Individual Medley SCY Female' '200 Individual Medley SCY Female'
 '400 Individual Medley SCY Female' '50 Freestyle LCM Male'
 '100 Freestyle LCM Male' '200 Freestyle LCM Male'
 '400 Freestyle LCM Male' '800 Freestyle LCM Male'
 '1500 Freestyle LCM Male' '50 Backstroke LCM Male'
 '100 Backstroke LCM Male' '200 Backstroke LCM Male'
 '50 Breaststroke LCM Male' '100 Breaststroke LCM Male'
 '200 Breaststroke LCM Male' '50 Butterfly LCM Male'
 '100 Butterfly LCM Male' '200 Butterfly LCM Male'
 '200 Individual Medley LCM Male' '400 Individual Medley LCM Male'
 '50 Freestyle LCM Female' '100 Freestyle LCM Female'
 '200 Freestyle LCM Female' '400 Freestyle LCM Female'
 '800 Freestyle LCM Female' '1500 Freestyle LCM Female'
 '50 Backstroke LCM Female' '100 Backstroke LCM Female'
 '200 Backstroke LCM Female' '50 Breaststroke LCM Female'
 '100 Breaststroke LCM Female' '200 Breaststroke LCM Female'
 '50 Butterfly LCM Female' '100 Butterfly LCM Female'
 '200 Butterfly LCM Female' '200 Individual Medley LCM Female'
 '400 Individual Medley LCM Female' '50 Freestyle SCM Male'
 '100 Freestyle SCM Male' '200 Freestyle SCM Male'
 '400 Freestyle SCM Male' '800 Freestyle SCM Male'
 '1500 Freestyle SCM Male' '50 Backstroke SCM Male'
 '100 Backstroke SCM Male' '200 Backstroke SCM Male'
 '50 Breaststroke SCM Male' '100 Breaststroke SCM Male'
 '200 Breaststroke SCM Male' '50 Butterfly SCM Male'
 '100 Butterfly SCM Male' '200 Butterfly SCM Male'
 '100 Individual Medley SCM Male' '200 Individual Medley SCM Male'
 '400 Individual Medley SCM Male' '50 Freestyle SCM Female'
 '100 Freestyle SCM Female' '200 Freestyle SCM Female'
 '400 Freestyle SCM Female' '800 Freestyle SCM Female'
 '1500 Freestyle SCM Female' '50 Backstroke SCM Female'
 '100 Backstroke SCM Female' '200 Backstroke SCM Female'
 '50 Breaststroke SCM Female' '100 Breaststroke SCM Female'
 '200 Breaststroke SCM Female' '50 Butterfly SCM Female'
 '100 Butterfly SCM Female' '200 Butterfly SCM Female'
 '100 Individual Medley SCM Female' '200 Individual Medley SCM Female'
 '400 Individual Medley SCM Female']

In [91]:
records[records.Event=='50 Free SCM Male']

Empty DataFrame
Columns: [Event, Time]
Index: []

In [92]:
records.head()

                     Event    Time
0    50 Freestyle SCY Male   17.63
1   100 Freestyle SCY Male   39.90
2   200 Freestyle SCY Male   88.81
3   500 Freestyle SCY Male  242.31
4  1000 Freestyle SCY Male  513.93

In [93]:
records.rename(columns={'Time': 'Record'}, inplace=True)

In [94]:
records.isna().sum().sum()

0

In [95]:
combined_df.shape

(358106, 19)

In [96]:
merged_df = pd.merge(combined_df, records[['Event', 'Record']], on='Event', how='left')
merged_df.shape

(358106, 20)

In [97]:
missing_values_per_column = merged_df.isna().sum()

# Show columns that have missing values (where the count is greater than 0)
missing_columns = missing_values_per_column[missing_values_per_column > 0]

# Display the result
print(missing_columns)

Points    94263
dtype: int64

In [98]:
records[records.Event=='50 Freestyle SCM Male']

                    Event  Record
70  50 Freestyle SCM Male    19.9

In [99]:
merged_df[merged_df.isna().any(axis=1)]

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record
4725,50 Freestyle SCY Female,-1,24.38,Rachel McCoy,James Madison,NA,2000-01-01,F,HS,00_01,2001,0 days 00:00:24.380000,24.38,NaN,-1,-1,508267,21.19,32.91,20.37
4726,50 Freestyle SCY Female,-1,23.95,Molly Braun,"University of North Carolina, Wilmington",NA,2000-01-01,F,HS,00_01,2001,0 days 00:00:23.950000,23.95,NaN,-1,-1,481582,22.26,26.05,20.37
4727,50 Freestyle SCY Female,-1,24.28,Ellie Webb,Drexel,NA,2000-01-01,F,HS,00_01,2001,0 days 00:00:24.280000,24.28,NaN,-1,-1,585010,28.14,31.29,20.37
4728,50 Freestyle SCY Female,-1,24.01,Faith Perry,William & Mary,NA,2000-01-01,F,HS,00_01,2001,0 days 00:00:24.010000,24.01,NaN,-1,-1,506208,28.85,27.00,20.37
4729,50 Freestyle SCY Female,-1,25.09,Bridget Thomas,Towson University,NA,2000-01-01,F,HS,00_01,2001,0 days 00:00:25.090000,25.09,NaN,-1,-1,1187529,22.73,44.78,20.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126353,400 Individual Medley LCM Female,-1,5:18.89,Bree Anderson,San Jose St,NA,2000-01-01,F,HS,00_01,2001,0 days 00:05:18.890000,318.89,NaN,-1,-1,1381190,38.16,40.39,264.38
126354,400 Individual Medley LCM Male,-1,4:47.18,Owen Miller,William & Mary,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:47.180000,287.18,NaN,-1,-1,458216,17.04,37.74,242.50
126355,400 Individual Medley LCM Female,-1,5:59.71,Sam White,Xavier University,NA,2000-01-01,F,HS,00_01,2001,0 days 00:05:59.710000,359.71,NaN,-1,-1,344663,29.66,100.00,264.38
126356,400 Individual Medley LCM Female,-1,6:16.83,Madison Smith,Carleton,NA,2000-01-01,F,HS,00_01,2001,0 days 00:06:16.830000,376.83,NaN,-1,-1,479518,55.83,100.00,264.38
126357,400 Individual Medley LCM Male,-1,4:55.29,Jack Hansen,Southwestern University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:55.290000,295.29,NaN,-1,-1,353464,42.78,49.66,242.50

In [100]:
merged_df[merged_df.Name=='Vineet Ranade']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record
2787,50 Freestyle SCY Male,-1,21.81,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.810000,21.81,589.052856,-1,-1,418728,21.88,33.78,17.63
13941,100 Freestyle SCY Male,-1,46.86,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:46.860000,46.86,451.951366,-1,-1,418728,21.88,23.82,39.90
24872,200 Freestyle SCY Male,-1,1:41.96,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:41.960000,101.96,299.297001,-1,-1,418728,21.88,19.71,88.81
34949,500 Freestyle SCY Male,-1,4:37.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:37.660000,277.66,413.685675,-1,-1,418728,21.88,22.23,242.31
42965,1000 Freestyle SCY Male,-1,9:59.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:09:59.660000,599.66,NaN,-1,-1,418728,21.88,36.06,513.93
48146,1650 Freestyle SCY Male,-1,16:50.68,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:16:50.680000,1010.68,NaN,-1,-1,418728,21.88,37.04,852.08
54083,100 Backstroke SCY Male,-1,53.46,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:53.460000,53.46,NaN,-1,-1,418728,21.88,45.20,43.35
63578,200 Backstroke SCY Male,-1,1:58.60,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:58.600000,118.60,NaN,-1,-1,418728,21.88,49.75,95.37
72349,100 Breaststroke SCY Male,-1,58.91,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:58.910000,58.91,NaN,-1,-1,418728,21.88,30.56,48.71
80881,200 Breaststroke SCY Male,-1,2:06.62,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:06.620000,126.62,NaN,-1,-1,418728,21.88,26.64,106.35
88884,100 Butterfly SCY Male,-1,50.59,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:50.590000,50.59,NaN,-1,-1,418728,21.88,25.59,42.80
98076,200 Butterfly SCY Male,-1,1:52.90,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:52.900000,112.90,NaN,-1,-1,418728,21.88,25.59,97.35
104761,100 Individual Medley SCY Male,-1,1:04.14,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:04.140000,64.14,NaN,-1,-1,418728,21.88,100.00,46.63
111840,200 Individual Medley SCY Male,-1,1:54.71,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:54.710000,114.71,NaN,-1,-1,418728,21.88,26.19,96.34
121093,400 Individual Medley SCY Male,-1,4:07.82,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:07.820000,247.82,NaN,-1,-1,418728,21.88,26.67,208.82
195995,50 Freestyle SCY Male,13,21.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:21.820000,21.82,527.463847,553,2319,418728,21.88,-1.00,17.63
196018,100 Freestyle SCY Male,4,46.26,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:00:46.260000,46.26,641.655324,187,1288,418728,21.88,-1.00,39.90
196049,200 Freestyle SCY Male,1,1:40.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:40.790000,100.79,684.121556,107,965,418728,21.88,-1.00,88.81
196092,500 Freestyle SCY Male,23,5:10.80,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-22,M,III,21_22,2022,0 days 00:05:10.800000,310.80,473.882840,931,2473,418728,21.88,-1.00,242.31
196172,100 Breaststroke SCY Male,3,57.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:00:57.790000,57.79,598.820012,196,940,418728,21.88,-1.00,48.71
196190,200 Breaststroke SCY Male,2,2:04.89,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:02:04.890000,124.89,617.489370,111,661,418728,21.88,-1.00,106.35
196214,100 Butterfly SCY Male,13,53.77,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:00:53.770000,53.77,504.325813,660,2438,418728,21.88,-1.00,42.80
196232,200 Butterfly SCY Male,6,2:00.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-15,M,III,21_22,2022,0 days 00:02:00.130000,120.13,532.173735,391,1447,418728,21.88,-1.00,97.35
196249,200 Individual Medley SCY Male,1,1:51.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:51.820000,111.82,639.530796,87,749,418728,21.88,-1.00,96.34
196277,400 Individual Medley SCY Male,10,4:23.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:04:23.130000,263.13,499.810272,413,1386,418728,21.88,-1.00,208.82
217900,50 Freestyle SCY Male,1,21.12,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:00:21.120000,21.12,581.668031,207,1375,418728,21.88,-1.00,17.63
217919,100 Freestyle SCY Male,1,45.93,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:00:45.930000,45.93,655.585517,137,1135,418728,21.88,-1.00,39.90
217943,200 Freestyle SCY Male,1,1:39.98,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-08,M,III,22_23,2023,0 days 00:01:39.980000,99.98,700.884108,56,807,418728,21.88,-1.00,88.81
218030,100 Breaststroke SCY Male,2,57.63,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:57.630000,57.63,603.821441,195,963,418728,21.88,-1.00,48.71
218038,200 Breaststroke SCY Male,2,2:04.55,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:02:04.550000,124.55,622.560106,100,687,418728,21.88,-1.00,106.35
218046,100 Butterfly SCY Male,2,49.96,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-02,M,III,22_23,2023,0 days 00:00:49.960000,49.96,628.729761,131,984,418728,21.88,-1.00,42.80
218073,100 Individual Medley SCY Male,3,55.54,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-10-15,M,III,22_23,2023,0 days 00:00:55.540000,55.54,591.804986,162,588,418728,21.88,-1.00,46.63
218078,200 Individual Medley SCY Male,1,1:50.38,Vineet Ranade,Rose-Hulman Institute of Technology,B,2022-12-01,M,III,22_23,2023,0 days 00:01:50.380000,110.38,664.888401,36,611,418728,21.88,-1.00,96.34
225952,50 Freestyle SCY Male,4,21.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-30,M,III,23_24,2024,0 days 00:00:21.720000,21.72,534.782853,573,2309,418728,21.88,-1.00,17.63
225970,100 Freestyle SCY Male,1,44.85,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:00:44.850000,44.85,704.095137,36,655,418728,21.88,-1.00,39.90
225984,200 Freestyle SCY Male,1,1:37.63,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-24,M,III,23_24,2024,0 days 00:01:37.630000,97.63,752.723963,13,397,418728,21.88,-1.00,88.81
226007,500 Freestyle SCY Male,17,5:10.00,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-21,M,III,23_24,2024,0 days 00:05:10,310.00,477.561086,984,2545,418728,21.88,-1.00,242.31
226033,50 Backstroke SCY Male,10,25.81,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-01-13,M,III,23_24,2024,0 days 00:00:25.810000,25.81,470.195105,545,1544,418728,21.88,-1.00,20.07
226047,100 Backstroke SCY Male,15,55.30,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-17,M,III,23_24,2024,0 days 00:00:55.300000,55.30,481.716932,653,2054,418728,21.88,-1.00,43.35
226061,100 Breaststroke SCY Male,1,56.27,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-02-24,M,III,23_24,2024,0 days 00:00:56.270000,56.27,648.669747,110,713,418728,21.88,-1.00,48.71
226069,200 Breaststroke SCY Male,1,2:00.65,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:02:00.650000,120.65,684.905264,34,401,418728,21.88,-1.00,106.35
226076,50 Butterfly SCY Male,1,23.19,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:23.190000,23.19,631.912554,50,213,418728,21.88,-1.00,19.90
226084,100 Butterfly SCY Male,4,51.39,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:51.390000,51.39,577.690804,338,1614,418728,21.88,-1.00,42.80
226100,200 Butterfly SCY Male,7,1:59.25,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-04,M,III,23_24,2024,0 days 00:01:59.250000,119.25,544.042346,392,1465,418728,21.88,-1.00,97.35
226105,100 Individual Medley SCY Male,1,52.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:52.720000,52.72,691.942556,35,220,418728,21.88,-1.00,46.63
226110,200 Individual Medley SCY Male,1,1:49.24,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-15,M,III,23_24,2024,0 days 00:01:49.240000,109.24,685.922188,22,492,418728,21.88,-1.00,96.34

In [101]:
# Compute the points based on the provided formula
merged_df['points'] = 1000 * (merged_df['Record'] / merged_df['Time_Sec'])**3

combined_df = merged_df.drop('Points',axis=1)

In [103]:
combined_df = combined_df.rename(columns={'points': 'Points'})

In [104]:
combined_df.to_parquet('CLEANED_SWIM_DATA.parquet',index=False)

In [105]:
combined_df.head()

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,-1,-1,394588,22.71,20.52,17.63,573.483330
1,50 Freestyle SCY Male,-1,20.87,Justin Meyn,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:20.870000,20.87,-1,-1,471360,10.06,20.80,17.63,602.822689
2,50 Freestyle SCY Male,-1,21.31,Joshua Franco,New Jersey Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.310000,21.31,-1,-1,395308,12.40,22.05,17.63,566.247878
3,50 Freestyle SCY Male,-1,21.05,Gabe Laracuente,UMBC,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.050000,21.05,-1,-1,404642,13.77,23.93,17.63,587.490213
4,50 Freestyle SCY Male,-1,21.70,Ryan Board,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.700000,21.70,-1,-1,422211,18.21,28.82,17.63,536.262879

In [106]:
combined_df[combined_df.Name=='Vineet Ranade']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
2787,50 Freestyle SCY Male,-1,21.81,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.810000,21.81,-1,-1,418728,21.88,33.78,17.63,528.189715
13941,100 Freestyle SCY Male,-1,46.86,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:46.860000,46.86,-1,-1,418728,21.88,23.82,39.90,617.322113
24872,200 Freestyle SCY Male,-1,1:41.96,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:41.960000,101.96,-1,-1,418728,21.88,19.71,88.81,660.839707
34949,500 Freestyle SCY Male,-1,4:37.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:37.660000,277.66,-1,-1,418728,21.88,22.23,242.31,664.620993
42965,1000 Freestyle SCY Male,-1,9:59.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:09:59.660000,599.66,-1,-1,418728,21.88,36.06,513.93,629.501353
48146,1650 Freestyle SCY Male,-1,16:50.68,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:16:50.680000,1010.68,-1,-1,418728,21.88,37.04,852.08,599.239041
54083,100 Backstroke SCY Male,-1,53.46,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:53.460000,53.46,-1,-1,418728,21.88,45.20,43.35,533.188093
63578,200 Backstroke SCY Male,-1,1:58.60,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:58.600000,118.60,-1,-1,418728,21.88,49.75,95.37,519.973584
72349,100 Breaststroke SCY Male,-1,58.91,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:58.910000,58.91,-1,-1,418728,21.88,30.56,48.71,565.310849
80881,200 Breaststroke SCY Male,-1,2:06.62,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:06.620000,126.62,-1,-1,418728,21.88,26.64,106.35,592.523467
88884,100 Butterfly SCY Male,-1,50.59,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:50.590000,50.59,-1,-1,418728,21.88,25.59,42.80,605.532237
98076,200 Butterfly SCY Male,-1,1:52.90,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:52.900000,112.90,-1,-1,418728,21.88,25.59,97.35,641.100391
104761,100 Individual Medley SCY Male,-1,1:04.14,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:04.140000,64.14,-1,-1,418728,21.88,100.00,46.63,384.246022
111840,200 Individual Medley SCY Male,-1,1:54.71,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:54.710000,114.71,-1,-1,418728,21.88,26.19,96.34,592.401414
121093,400 Individual Medley SCY Male,-1,4:07.82,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:07.820000,247.82,-1,-1,418728,21.88,26.67,208.82,598.283763
195995,50 Freestyle SCY Male,13,21.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:21.820000,21.82,553,2319,418728,21.88,-1.00,17.63,527.463847
196018,100 Freestyle SCY Male,4,46.26,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:00:46.260000,46.26,187,1288,418728,21.88,-1.00,39.90,641.655324
196049,200 Freestyle SCY Male,1,1:40.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:40.790000,100.79,107,965,418728,21.88,-1.00,88.81,684.121556
196092,500 Freestyle SCY Male,23,5:10.80,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-22,M,III,21_22,2022,0 days 00:05:10.800000,310.80,931,2473,418728,21.88,-1.00,242.31,473.882840
196172,100 Breaststroke SCY Male,3,57.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:00:57.790000,57.79,196,940,418728,21.88,-1.00,48.71,598.820012
196190,200 Breaststroke SCY Male,2,2:04.89,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:02:04.890000,124.89,111,661,418728,21.88,-1.00,106.35,617.489370
196214,100 Butterfly SCY Male,13,53.77,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:00:53.770000,53.77,660,2438,418728,21.88,-1.00,42.80,504.325813
196232,200 Butterfly SCY Male,6,2:00.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-15,M,III,21_22,2022,0 days 00:02:00.130000,120.13,391,1447,418728,21.88,-1.00,97.35,532.173735
196249,200 Individual Medley SCY Male,1,1:51.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:51.820000,111.82,87,749,418728,21.88,-1.00,96.34,639.530796
196277,400 Individual Medley SCY Male,10,4:23.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:04:23.130000,263.13,413,1386,418728,21.88,-1.00,208.82,499.810272
217900,50 Freestyle SCY Male,1,21.12,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:00:21.120000,21.12,207,1375,418728,21.88,-1.00,17.63,581.668031
217919,100 Freestyle SCY Male,1,45.93,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:00:45.930000,45.93,137,1135,418728,21.88,-1.00,39.90,655.585517
217943,200 Freestyle SCY Male,1,1:39.98,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-08,M,III,22_23,2023,0 days 00:01:39.980000,99.98,56,807,418728,21.88,-1.00,88.81,700.884108
218030,100 Breaststroke SCY Male,2,57.63,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:57.630000,57.63,195,963,418728,21.88,-1.00,48.71,603.821441
218038,200 Breaststroke SCY Male,2,2:04.55,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:02:04.550000,124.55,100,687,418728,21.88,-1.00,106.35,622.560106
218046,100 Butterfly SCY Male,2,49.96,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-02,M,III,22_23,2023,0 days 00:00:49.960000,49.96,131,984,418728,21.88,-1.00,42.80,628.729761
218073,100 Individual Medley SCY Male,3,55.54,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-10-15,M,III,22_23,2023,0 days 00:00:55.540000,55.54,162,588,418728,21.88,-1.00,46.63,591.804986
218078,200 Individual Medley SCY Male,1,1:50.38,Vineet Ranade,Rose-Hulman Institute of Technology,B,2022-12-01,M,III,22_23,2023,0 days 00:01:50.380000,110.38,36,611,418728,21.88,-1.00,96.34,664.888401
225952,50 Freestyle SCY Male,4,21.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-30,M,III,23_24,2024,0 days 00:00:21.720000,21.72,573,2309,418728,21.88,-1.00,17.63,534.782853
225970,100 Freestyle SCY Male,1,44.85,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:00:44.850000,44.85,36,655,418728,21.88,-1.00,39.90,704.095137
225984,200 Freestyle SCY Male,1,1:37.63,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-24,M,III,23_24,2024,0 days 00:01:37.630000,97.63,13,397,418728,21.88,-1.00,88.81,752.723963
226007,500 Freestyle SCY Male,17,5:10.00,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-21,M,III,23_24,2024,0 days 00:05:10,310.00,984,2545,418728,21.88,-1.00,242.31,477.561086
226033,50 Backstroke SCY Male,10,25.81,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-01-13,M,III,23_24,2024,0 days 00:00:25.810000,25.81,545,1544,418728,21.88,-1.00,20.07,470.195105
226047,100 Backstroke SCY Male,15,55.30,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-17,M,III,23_24,2024,0 days 00:00:55.300000,55.30,653,2054,418728,21.88,-1.00,43.35,481.716932
226061,100 Breaststroke SCY Male,1,56.27,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-02-24,M,III,23_24,2024,0 days 00:00:56.270000,56.27,110,713,418728,21.88,-1.00,48.71,648.669747
226069,200 Breaststroke SCY Male,1,2:00.65,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:02:00.650000,120.65,34,401,418728,21.88,-1.00,106.35,684.905264
226076,50 Butterfly SCY Male,1,23.19,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:23.190000,23.19,50,213,418728,21.88,-1.00,19.90,631.912554
226084,100 Butterfly SCY Male,4,51.39,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:51.390000,51.39,338,1614,418728,21.88,-1.00,42.80,577.690804
226100,200 Butterfly SCY Male,7,1:59.25,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-04,M,III,23_24,2024,0 days 00:01:59.250000,119.25,392,1465,418728,21.88,-1.00,97.35,544.042346
226105,100 Individual Medley SCY Male,1,52.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:52.720000,52.72,35,220,418728,21.88,-1.00,46.63,691.942556
226110,200 Individual Medley SCY Male,1,1:49.24,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-15,M,III,23_24,2024,0 days 00:01:49.240000,109.24,22,492,418728,21.88,-1.00,96.34,685.922188