In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('CLEANED_SWIM_DATA.parquet')
df.head(1)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,573.48333,-1,-1,394588,22.71,20.52

In [3]:
df.shape

(356503, 19)

In [4]:
df.Name.nunique()

11242

In [5]:
sw = pd.read_parquet('CLEANED_SWIM_DATA.parquet')

In [6]:
sw.head(1)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,573.48333,-1,-1,394588,22.71,20.52

In [7]:
school_counts = df.groupby('ID')['School'].nunique()

# Filter for names with more than one school
names_with_multiple_schools = school_counts[school_counts > 1]

# Count how many names have more than one school
len(names_with_multiple_schools)

1299

In [8]:
# Group by 'Name' and count unique 'School' entries for each name
school_counts = df.groupby('ID')['School'].nunique()

# Filter for names with more than one school
names_with_multiple_schools = school_counts[school_counts > 1].index

# Filter the original DataFrame to include only those names with multiple schools
df_multiple_schools = df[df['ID'].isin(names_with_multiple_schools)]

# Display the names and associated schools
dups = df_multiple_schools[['ID', 'Name','School']].drop_duplicates()

In [9]:
dups = dups.sort_values(by='ID')[['ID', 'Name','School']]
dups = dups.drop_duplicates()

In [10]:
dups.to_csv('dups.csv',index=False)

In [11]:
dups.head(20)

            ID             Name                School
225829    2466   Lauren Johnson      Illinois-Chicago
326317    2466   Lauren Johnson              Monmouth
3502      2466   Lauren Johnson  Illinois Chicago (W)
346352    2466   Lauren Johnson             Bryn Mawr
141654   64677     Kyle Johnson        UNC Wilmington
8539     64677     Kyle Johnson       Mary Washington
170231   85427     Max Mitchell                 Mines
2340     85427     Max Mitchell         Ohio Wesleyan
255118  104453      Lauren Gray           Little Rock
3449    104453      Lauren Gray        Incarnate Word
311281  114404  Olivia Anderson             Kalamazoo
3896    114404  Olivia Anderson               Georgia
3810    116227     Ali Harrison            California
244950  116227     Ali Harrison                  Duke
317045  124502    Maggie Miller                   UNE
4499    124502    Maggie Miller              SIUC (W)
9153    148097     Olivia Tighe                  Duke
282361  148097     Olivia Tighe                    GW
337731  151792     Lauren Stone           FDU-Florham
6415    151792     Lauren Stone              Piedmont

In [12]:
name_mapping = {
    'Fla Atlantic (M)': 'Florida Atlantic University',
    'Fla Atlantic (W)': 'Florida Atlantic University',
    'Loyola (MD)': 'Loyola University (Maryland)',
    'U.S. Navy': 'U.S. Naval Academy (Navy)',
    'UW-Stevens Point': 'University of Wisconsin-Stevens Point',
    'UWEC': 'University of Wisconsin-Eau Claire',
    'Wash U. MO': 'Washington University (Missouri)',
    'Georgia Tech': 'Georgia Institute of Technology',
    'Virginia MI': 'Virginia Military Institute',
    'Iona Coll': 'Iona University',
    'Wheaton IL': 'Wheaton College (Illinois)',
    'TCNJ': 'College of New Jersey, The',
    'UMSL': 'University of Missouri-St. Louis',
    'Henderson St.': 'Henderson State University',
    'IWU': 'Indiana Wesleyan University',
    'SMU': 'Southern Methodist University',
    'UCSB': 'University of California-Santa Barbara',
    'Missouri St (W)': 'Missouri State University',
    'NC State': 'North Carolina State University',
    'USMMA': 'U.S. Merchant Marine Academy',
    'NDC': 'Notre Dame (Ohio) College',
    'Air Force (W)': 'U.S. Air Force Academy',
    'St. Norbert': 'St Norbert College',
    'W&L': 'Washington and Lee University',
    'UNC Wilmington': 'University of North Carolina, Wilmington',
    'SHIP': 'Shippensburg University',
    'IU Indianapolis': 'Indiana University-Indianapolis',
    'Cal Poly': 'California Polytechnic State University',
    'BSC': 'Birmingham Southern College',
    'Wyoming (M)': 'University of Wyoming',
    'MIT': 'Massachusetts Institute of Technology',
    'Bryant U (W)': 'Bryant University',
    'St. Louis': 'Saint Louis University',
    'UN Omaha': 'University of Nebraska, Omaha',
    'TAMPA': 'University of Tampa',
    'Claremont MS': 'Claremont McKenna-Harvey Mudd-Scripps Colleges',
    'Wheaton MA': 'Wheaton College (Massachusetts)',
    'Evansville (M)': 'University of Evansville',
    'Fla Atlantic (M)': 'Florida Atlantic University',
    'UNE': 'University of New England',
    'Trinity C.': 'Trinity College (Connecticut)',
    'SUNY Geneseo': 'State University of New York at Geneseo',
    'Catholic UA': 'Catholic University',
    'Colorado St.': 'Colorado State University',
    'Frostburg St.': 'Frostburg State University',
    'UNC': 'University of North Carolina, Chapel Hill',
    'F&M': 'Franklin & Marshall College',
    'SUNY Brockport': 'State University of New York at Brockport',
    'Indy': 'University of Indianapolis',
    'Wyoming (W)': 'University of Wyoming',
    'NYU': 'New York University',
    'RIT': 'Rochester Institute of Technology',
    "St. John's": 'Saint Johns University',
    'St. Cloud St.-M': 'Saint Cloud State University',
    'TCU': 'Texas Christian University',
    'Truman St.': 'Truman State University',
    'Caltech': 'California Institute of Technology',
    'Evansville (W)': 'University of Evansville',
    'FDU-Florham': 'Fairleigh Dickinson University, Madison',
    'Illinois-Chicago': 'University of Illinois at Chicago',
    'Xavier': 'Xavier University',
    'MSU Mankato': 'Minnesota State University-Mankato',
    'Linfield': 'Linfield University',
    'LSU': 'Louisiana State University',
    'UW-L': 'University of Wisconsin-LaCrosse',
    'Keene St.': 'Keene State College',
    'Penn St': 'Pennsylvania State University',
    'SIUC (W)': 'Southern Illinois University',
    'Virginia Tech': 'Virginia Tech',
    'VASSAR': 'Vassar College',
    'R-MC': 'Rainey McCullers School',
    'Concordia Irvine': 'Concordia University Irvine',
    'Trinity U.': 'Trinity University (Texas)',
    'Miami (Ohio)': 'Miami University (Ohio)',
    'Michigan': 'University of Michigan',
    'E. Connecticut': 'Eastern Connecticut State University',
    "Mt St Mary's": "Mount Saint Mary's University (MD)",
    'GW': 'George Washington University',
    'Neb Wesleyan': 'Nebraska Wesleyan University',
    'Northwestern': 'Northwestern University',
    "Nova S'eastern": 'Nova Southeastern University',
    'SUNY Oneonta': 'Oneonta State University',
    'LIU': 'Long Island University',
    'IUP': 'Indiana University of Pennsylvania',
    'L&C': 'Lewis and Clark College',
    'Adams St.': 'Adams State University',
    'CALU-PA': 'Pennsylvania Western-California',
    'Bridgewater St.': 'Bridgewater State University',
    'Wis.- Green Bay': 'University of Wisconsin-Green Bay',
    'CMU': 'Carnegie Mellon University',
    'Virginia': 'University of Virginia',
    'YCP': 'York College (Pennsylvania)',
    'UTPB': 'University of Texas Permian Basin',
    'UNC Asheville': 'University of North Carolina Asheville',
    'UNLV (W)': 'University of Nevada, Las Vegas (UNLV)',
    'Washington St.': 'Washington State University',
    'Connecticut': 'University of Connecticut',
    'Arcadia': 'Arcadia University',
    'UW-Oshkosh': 'University of Wisconsin-Oshkosh',
    'Bryant U (M)': 'Bryant University',
    'W&J': 'Washington & Jefferson College',
    'Northern Ariz': 'Northern Arizona University',
    'WCU': 'West Chester University',
    'WestConn': 'Western Connecticut State University',
    'Notre Dame': 'University of Notre Dame',
    'UNC- Pembroke': 'University of North Carolina-Pembroke',
    'UMary': 'University of Mary',
    'Augustana (M)': 'Augustana College',
    'Army': 'U.S. Military Academy (Army)',
    'Duke': 'Duke University',
    "King's": 'Kings College (Pennsylvania)',
    'Washington': 'Washington College (Maryland)',
    'Sou. Virginia': 'Southern Virginia University',
    'Pacific Lutheran': 'Pacific Lutheran University',
    'Augustana (W)': 'Augustana College',
    "St. Michael's": 'Saint Michaels College',
    'Missouri': 'University of Missouri',
    'Grinnell': 'Grinnell College',
    'Cal Lutheran': 'California Lutheran University',
    'California': 'University of California-Berkeley',
    'GA Southern': 'Georgia Southern University',
    'Hawaii': 'University of Hawaii',
    'Missouri S & T': 'Missouri University of Science & Technology',
    'SUNY New Paltz': 'State University of New York at New Paltz',
    'Alabama': 'University of Alabama',
    'Villanova': 'Villanova University',
    'Monmouth': 'Monmouth University',
    'UC Santa Cruz': 'University of California-Santa Cruz',
    'Montevallo': 'University of Montevallo',
    'CSU East Bay': 'California State University East Bay',
    'SUNY Potsdam': 'State University of New York at Potsdam',
    'Carthage': 'Carthage College',
    'Cal Baptist': 'California Baptist University',
    'Grand Canyon': 'Grand Canyon University',
    'Goucher': 'Goucher College',
    'Pomona-Pitzer': 'Pomona-Pitzer Colleges',
    'Piedmont': 'Piedmont University',
    'Grove City': 'Grove City College',
    'Purdue': 'Purdue University',
    'Illinois Chicago (W)': 'University of Illinois at Chicago',
    'WPUNJ': 'William Paterson University of New Jersey',
    'Hendrix': 'Hendrix College',
    'Rose-Hulman': 'Rose-Hulman Institute of Technology',
    'Virginia Wesleya': 'Virginia Wesleyan University',
    'Hartwick': 'Hartwick College',
    'Auburn': 'Auburn University',
    'Carroll': 'Carroll University (WI)',
    'Penn St. Altoona': 'Pennsylvania State University - Altoona',
    'Assumption': 'Assumption University',
    'McDaniel': 'McDaniel College',
    'Massachusetts': 'University of Massachusetts (Amherst)',
    'Air Force (M)': 'U.S. Air Force Academy',
    'Middlebury': 'Middlebury College',
    'Mines': 'Colorado School of Mines',
    'Minnesota': 'University of Minnesota',
    'Missouri St. (M)': 'Missouri State University',
    'Macalester': 'Macalester College',
    'Wingate': 'Wingate University',
    'Wilmington C.': 'Wilmington College (Ohio',
    'Lynchburg': 'University of Lynchburg',
    'Loy. Marymount': 'Loyola Marymount University',
    'Little Rock': 'University of Arkansas-Little Rock',
    'Nebraska Kearney': 'University of Nebraska at Kearney',
    'Nevada': 'University of Nevada',
    'Lees-McRae': 'Lees-McRae College',
    'Northern Colo': 'University of Northern Colorado',
    'Arizona': 'University of Arizona',
    'Lafayette': 'Lafayette College',
    'Westfield State': 'Westfield State University',
    'Georgia': 'University of Georgia',
    'West Virginia': 'West Virginia University',
    'Ohio St': 'Ohio State University',
    'Old Dominion (W)': 'Old Dominion University',
    'Olivet': 'Olivet Nazarene University',
    'Pacific Oregon': 'Pacific University',
    'John Carroll': 'John Carroll University',
    'Gordon': 'Gordon College (MA)',
    'Behrend': 'Penn State Behrend University',
    'Springfield': 'Springfield College',
    'Davis & Elkins': 'Davis and Elkins College',
    'Texas': 'University of Texas',
    'UNLV (M)': 'University of Nevada, Las Vegas (UNLV)',
    'Clarion': 'Clarion University',
    'CSUB': 'California State University, Bakersfield',
    'St. Francis': 'St Francis College Brooklyn (New York)',
    'Clarkson': 'Clarkson University',
    'Cleveland St': 'Cleveland State University',
    "Saint Peter's": 'Saint Peters University',
    'Texas A&M': 'Texas A&M University',
    'Brown': 'Brown University',
    'Salisbury': 'Salisbury University',
    'St. Thomas': 'University of Saint Thomas (MN)',
    'Emory': 'Emory University',
    'FGCU': 'Florida Gulf Coast University',
    'Seattle U (M)': 'Seattle University',
    'St. Olaf': 'St Olaf College',
    'Chicago': 'University of Chicago',
    'Denver': 'University of Denver',
    'St. Bonaventure': 'St Bonaventure University',
    'Utah': 'University of Utah',
    'Southern Cali': 'University of Southern California',
    'Berry': 'Berry College',
    'SUNY Maritime': 'State Maritime University of New York',
    'Gardner-Webb': 'Gardner-Webb University',
    'South Dakota St': 'South Dakota State University',
    'Campbell': 'Campbell University',
    'Valparaiso (W)': 'Valparaiso University',
    'Florida Tech': 'Florida Tech',
    'Centenary (LA)': 'Centenary College',
    'Transylvania': 'Transylvania University',
    'SUNY Oswego': 'State University of New York at Oswego',
    'Fresno Pacific': 'Fresno Pacific University',
    'Franklin': 'Franklin College',
    'South Dakota': 'University of South Dakota',
    "St. Mary's MD": "Saint Mary's College of Maryland",
    'St. Francis Pa.': 'Saint Francis University (Pennsylvania)',
    'Oberlin': 'Oberlin College',
    'Northern State': 'Northern State University',
    'North Texas': 'University of North Texas',
    'New Mexico': 'University of New Mexico',
    'New Hampshire': 'University of New Hampshire',
    "St. Joseph's LI": "Saint Joseph's University (Long Island)",
    "St. Cloud St.-W": 'Saint Cloud State University',
    'Oakland': 'Oakland University',
    'SUNY Fredonia': 'Fredonia State University',
    "St. Kate's": 'St Catherine University',
    'Montclair St.': 'Montclair State University',
    'Tulane': 'Tulane University',
    'Tufts': 'Tufts University',
    'Michigan St': 'Michigan State University',
    'Millikin': 'Millikin University',
    'Mills': 'Mills College',
    'Towson': 'Towson University',
    'Tennessee': 'University of Tennessee',
    'UMBC': 'UMBC',
    'Worcester Poly': 'Worcester Polytechnic Institute',
    'Westminster': 'Westminster College',
    'Sweet Briar': 'Sweet Briar College',
    'Stevens': 'Stevens Institute',
    'Southwestern': 'Southwestern University',
    'Widener': 'Widener University',
    'NJIT': 'New Jersey Institute of Technology',
    'Whitman': 'Whitman College',
    'NMU': 'Northern Michigan University',
    'Wheeling': 'Wheeling University',
    'Staten Island': 'College of Staten Island',
    'Ouachita': 'Ouachita Baptist University',
    'Southwest Minn.': 'Southwest Minnesota State University',
    'Rollins': 'Rollins College',
    'Ramapo': 'Ramapo College of New Jersey',
    'Redlands': 'University of Redlands',
    'Regis': 'Regis College (Massachusetts)',
    'Rensselaer': 'Rensselaer Polytechnic Institute',
    'Rhode Island': 'University of Rhode Island',
    'Rhodes': 'Rhodes College',
    'Rice': 'Rice University',
    'Richmond': 'University of Richmond',
    'Rider': 'Rider University',
    'Ripon': 'Ripon College',
    'Saint Leo': 'Saint Leo University',
    'Occidental': 'Occidental College',
    'Saint Joseph CT': 'University of Saint Joseph',
    'Saginaw Valley': 'Saginaw Valley State University',
    'Rowan': 'Rowan University',
    'Sacred Heart': 'Sacred Heart University',
    'SJCME': 'Saint Josephs College (Maine)',
    'Vermont': 'University of Vermont',
    'Valparaiso (M)': 'Valparaiso University',
    'SUNY Cobleskill': 'State University of New York at Cobleskill',
    'SUNY Cortland': 'State University of New York at Cortland',
    'SUNY Delhi': 'State University of New York at Delhi',
    'Saint Vincent': 'Saint Vincent College',
    'WVWC': 'West Virginia Wesleyan College',
    'Salem (M)': 'Salem University',
    'Salem College': 'Salem College',
    'Oklahoma Baptist': 'Oklahoma Baptist University',
    'Old Dominion (M)': 'Old Dominion University',
    'Wesleyan': 'Wesleyan University',
    'Skidmore': 'Skidmore College',
    'Vanderbilt': 'Vanderbilt University',
    'Ozarks': 'University of the Ozarks',
    'Sioux Falls': 'University of Sioux Falls',
    'Siena': 'Siena College',
    'Penn': 'University of Pennsylvania',
    'Sewanee': 'University of the South (Sewanee)',
    'Seton Hall': 'Seton Hall University',
    'Seattle U (W)': 'Seattle University',
    'Pepperdine': 'Pepperdine University',
    'Pitt-Bradford': 'University of Pittsburgh-Bradford',
    'Merrimack': 'Merrimack College',
    'Principia': 'Principia College',
    'Providence': 'Providence College',
    'Purchase College': 'Purchase College',
    'San Diego St': 'San Diego State University',
    'Queens (NC)': 'Queens University Charlotte',
    'Quincy': 'Quincy University',
    'Miami (FL)': 'University of Miami (Florida)',
    'Messiah': 'Messiah University',
    'Florida': 'University of Florida',
    'Coast Guard': 'U.S. Coast Guard Academy',
    'Biola University': 'Biola University',
    'Greensboro Coll.': 'Greensboro College',
    'Jewell': 'William Jewell College'
}

In [13]:
dups['School'] = dups['School'].replace(name_mapping)

/tmp/ipykernel_1178487/1283161216.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dups['School'] = dups['School'].replace(name_mapping)

In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.display import clear_output

def get_teams_for_swimmer(swimmer_id):
    url = f"https://www.swimcloud.com/swimmer/{swimmer_id}/"
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36',
        'Referer': 'https://google.com/'
    }

    while True:
        response = requests.get(url, headers=headers)
        
        if response.status_code != 200:
            print(f"Failed to retrieve data for swimmer_id {swimmer_id}")
            time.sleep(60)
            return []
        
        soup = BeautifulSoup(response.text, 'html.parser')
        teams_section = soup.find_all('div', class_='c-card c-card--large c-card--divided')[1]
        if not teams_section:
            print("Teams section not found, skipping swimmer...")
            return []
        
        teams_list = teams_section.find_all('h3', class_='c-list__title')
        break

    teams = [team.get_text(strip=True) for team in teams_list]
    return teams

def match_teams_to_schools(df):
    i = 0
    for index, row in df.iterrows():
        swimmer_id = row['ID']
        school = row['School']
        teams = get_teams_for_swimmer(swimmer_id)
        
        matched_team = None
        for team in teams:
            if school.lower() in team.lower() or team.lower() in school.lower():
                matched_team = team
                break
        
        if matched_team:
            print(f"Match found for {row['Name']}: {matched_team}")
            df.drop(index, inplace=True)  # Drop the row from DataFrame
        else:
            print(f"No match found for {row['Name']}: {school}")

        i += 1
        if (i % 10 == 0):
            print(i)
        if (i % 100 == 0):
            clear_output()

        # time.sleep(20)

# Example usage
# dups = pd.read_csv('your_csv_file.csv')  # Load your DataFrame
match_teams_to_schools(dups)

No match found for Kirsten Lee: Drury
Match found for Luana Alonso: Virginia Tech
Match found for Luana Alonso: Southern Methodist University
Match found for Maddie Sauro: Cazenovia College
Match found for Maddie Sauro: Alfred University
No match found for Jack Hansen: Southwestern University
No match found for Jack Hansen: Indiana Wesleyan University
Match found for Harry Nelson: Gettysburg College
Match found for Harry Nelson: Grinnell College
No match found for Maddie Taylor: University of Wisconsin-Stevens Point
2710
No match found for Maddie Taylor: Millersville
No match found for Molly Devine: Bard
Match found for Molly Devine: York College (Pennsylvania)
Match found for Maddie Mara: American University
Match found for Maddie Mara: University of Massachusetts (Amherst)
No match found for Caroline Lee: Wells
No match found for Caroline Lee: Georgia Institute of Technology
Match found for Caroline Lee: Centre College
Match found for Ella Johnson: University of Southern Indiana
No match found for Ella Johnson: University of Sioux Falls
2720
No match found for Ella Johnson: Long Island University
No match found for Ella Johnson: Carroll University (WI)
Match found for Matthew Simpson: University of Nevada, Las Vegas (UNLV)
No match found for Matthew Simpson: Boston U
Match found for Morgan Thomas: University of Minnesota
No match found for Morgan Thomas: Susquehanna
No match found for Max Ahumada Valdovinos: Florida Atlantic University
No match found for Max Ahumada Valdovinos: Florida Atlantic University
Match found for Kaitlyn Devaney: Merrimack College
Match found for Kaitlyn Devaney: State University of New York at Cortland
2730
No match found for Ben Brewer: California Lutheran University
No match found for Ben Brewer: Boston U
No match found for Ben Brewer: University of Tampa
Match found for Fanny Legros: Northern State University
Match found for Fanny Legros: King University
No match found for Katie Dougherty: Rutgers
No match found for Katie Dougherty: Indiana State
No match found for Ben Johnson: Henderson State University
No match found for Ben Johnson: University of Montevallo
No match found for Ben Johnson: Grinnell College
2740
No match found for Megan Donnelly: Bryant University
No match found for Megan Donnelly: Bryant University
No match found for Connor Young: Bridgewater State University
Match found for Connor Young: University of the South (Sewanee)
Match found for Tiffy Twombly: Converse University
Match found for Tiffy Twombly: Saint Josephs College (Maine)
Match found for Lucia RUCHTI: Hillsdale College
Match found for Lucia RUCHTI: Lees-McRae College
Match found for Kevin Soltys: Lewis University
Match found for Kevin Soltys: University of Wisconsin-Milwaukee
2750
Match found for Morgan Purser: Valparaiso University
Match found for Morgan Purser: Valparaiso University
No match found for Ricky Williams: Iowa
No match found for Ricky Williams: Cincinnati
Match found for Faith Sill: University of Toledo, The
Match found for Faith Sill: Northern Michigan University
Match found for Daniela Piccinini: University of Nevada
Match found for Daniela Piccinini: University of Northern Colorado
No match found for Nathan Ford: Catholic University
Match found for Nathan Ford: Babson College
2760
Match found for Katherine Maloney: Merrimack College
Match found for Katherine Maloney: Gordon College (MA)
No match found for Nick Allen: Hendrix College
No match found for Nick Allen: Davis and Elkins College
Match found for Jacob Stauffer: Franklin College
Match found for Jacob Stauffer: Manchester University
No match found for Caroline Lewis: Sweet Briar College
No match found for Caroline Lewis: Susquehanna

In [15]:
dups.shape

(678, 3)

In [16]:
dups.Name.nunique()

469

In [17]:
dups.to_csv('no_matches.csv',index=False)

In [48]:
df[df.Name=='Luke Johnson']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,ID,Power_Tot,Power
360,50 Freestyle SCY Male,-1,21.42,Luke Johnson,U.S. Navy,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.420000,21.42,557.568894,-1,-1,1329908,31.28,26.78
11191,100 Freestyle SCY Male,-1,48.11,Luke Johnson,U.S. Navy,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:48.110000,48.11,570.443474,-1,-1,1329908,31.28,33.91
21978,200 Freestyle SCY Male,-1,2:03.73,Luke Johnson,U.S. Navy,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:03.730000,123.73,369.794605,-1,-1,1329908,31.28,100.00
51083,100 Backstroke SCY Male,-1,59.26,Luke Johnson,U.S. Navy,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:59.260000,59.26,391.455468,-1,-1,1329908,31.28,97.41
69116,100 Breaststroke SCY Male,-1,1:07.99,Luke Johnson,U.S. Navy,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:07.990000,67.99,367.721705,-1,-1,1329908,31.28,100.00
85399,100 Butterfly SCY Male,-1,57.82,Luke Johnson,U.S. Navy,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:57.820000,57.82,405.599158,-1,-1,1329908,31.28,87.01
107897,200 Individual Medley SCY Male,-1,2:16.20,Luke Johnson,U.S. Navy,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:16.200000,136.20,353.906552,-1,-1,1329908,31.28,100.00
127967,100 Freestyle SCY Male,85,48.22,Luke Johnson,U.S. Navy,NS,2020-01-31,M,I,19_20,2020,0 days 00:00:48.220000,48.22,566.548467,1414,2454,1329908,31.28,-1.00
128009,200 Freestyle SCY Male,33,1:41.51,Luke Johnson,U.S. Navy,NS,2019-11-22,M,I,19_20,2020,0 days 00:01:41.510000,101.51,669.667353,800,1067,1329908,31.28,-1.00
128051,500 Freestyle SCY Male,2,4:18.15,Luke Johnson,U.S. Navy,NS,2020-02-20,M,I,19_20,2020,0 days 00:04:18.150000,258.15,826.984985,51,51,1329908,31.28,-1.00
128088,1000 Freestyle SCY Male,2,9:00.98,Luke Johnson,U.S. Navy,NS,2019-12-12,M,I,19_20,2020,0 days 00:09:00.980000,540.98,857.369995,19,20,1329908,31.28,-1.00
128114,1650 Freestyle SCY Male,1,14:52.11,Luke Johnson,U.S. Navy,NS,2020-02-22,M,I,19_20,2020,0 days 00:14:52.110000,892.11,871.336471,19,19,1329908,31.28,-1.00
128243,100 Breaststroke SCY Male,30,57.58,Luke Johnson,U.S. Navy,NS,2020-02-01,M,I,19_20,2020,0 days 00:00:57.580000,57.58,605.395805,513,769,1329908,31.28,-1.00
128431,400 Individual Medley SCY Male,2,3:47.90,Luke Johnson,U.S. Navy,NS,2020-02-21,M,I,19_20,2020,0 days 00:03:47.900000,227.90,769.277976,70,72,1329908,31.28,-1.00
131116,50 Freestyle SCY Male,105,20.97,Luke Johnson,Duke,NS,2021-02-25,M,I,20_21,2021,0 days 00:00:20.970000,20.97,594.239676,502,630,1329908,31.28,-1.00
131211,100 Freestyle SCY Male,99,45.97,Luke Johnson,Duke,NS,2020-12-05,M,I,20_21,2021,0 days 00:00:45.970000,45.97,653.875667,499,629,1329908,31.28,-1.00
131318,200 Freestyle SCY Male,114,1:41.43,Luke Johnson,Duke,NS,2020-12-04,M,I,20_21,2021,0 days 00:01:41.430000,101.43,671.253145,523,638,1329908,31.28,-1.00
131687,100 Butterfly SCY Male,47,47.86,Luke Johnson,Duke,NS,2021-02-26,M,I,20_21,2021,0 days 00:00:47.860000,47.86,715.176481,161,181,1329908,31.28,-1.00
131739,200 Butterfly SCY Male,32,1:47.59,Luke Johnson,Duke,NS,2021-02-27,M,I,20_21,2021,0 days 00:01:47.590000,107.59,740.784941,141,152,1329908,31.28,-1.00
136439,200 Butterfly SCY Male,62,3:13.38,Luke Johnson,Texas A&M,NS,2020-09-07,M,I,20_21,2021,0 days 00:03:13.380000,193.38,127.577239,619,1140,1329908,31.28,-1.00
136668,200 Freestyle SCY Male,14,1:41.09,Luke Johnson,U.S. Navy,NS,2020-11-20,M,I,20_21,2021,0 days 00:01:41.090000,101.09,678.048908,494,595,1329908,31.28,-1.00
136704,500 Freestyle SCY Male,2,4:19.48,Luke Johnson,U.S. Navy,NS,2021-03-25,M,I,20_21,2021,0 days 00:04:19.480000,259.48,814.333582,69,69,1329908,31.28,-1.00
136732,1000 Freestyle SCY Male,1,9:00.12,Luke Johnson,U.S. Navy,NS,2021-02-13,M,I,20_21,2021,0 days 00:09:00.120000,540.12,861.471933,15,16,1329908,31.28,-1.00
136749,1650 Freestyle SCY Male,2,14:56.39,Luke Johnson,U.S. Navy,NS,2021-02-27,M,I,20_21,2021,0 days 00:14:56.390000,896.39,858.914840,29,30,1329908,31.28,-1.00
176922,50 Freestyle SCY Male,44,21.44,Luke Johnson,St. Cloud St.-M,NS,2022-12-02,M,II,22_23,2023,0 days 00:00:21.440000,21.44,556.009989,303,1846,1329908,31.28,-1.00
176993,100 Freestyle SCY Male,73,47.95,Luke Johnson,St. Cloud St.-M,NS,2023-02-18,M,II,22_23,2023,0 days 00:00:47.950000,47.95,576.172933,465,2539,1329908,31.28,-1.00
177236,100 Breaststroke SCY Male,41,1:01.09,Luke Johnson,St. Cloud St.-M,NS,2022-12-03,M,II,22_23,2023,0 days 00:01:01.090000,61.09,506.925354,324,1767,1329908,31.28,-1.00
180768,50 Freestyle SCY Male,100,22.65,Luke Johnson,St. Cloud St.-M,NS,2023-10-14,M,II,23_24,2024,0 days 00:00:22.650000,22.65,471.576677,721,3722,1329908,31.28,-1.00
180817,100 Freestyle SCY Male,125,51.64,Luke Johnson,St. Cloud St.-M,NS,2023-10-14,M,II,23_24,2024,0 days 00:00:51.640000,51.64,461.275073,912,4638,1329908,31.28,-1.00
195201,50 Freestyle SCY Male,25,22.23,Luke Johnson,VASSAR,NS,2022-02-17,M,III,21_22,2022,0 days 00:00:22.230000,22.23,498.813902,850,2945,1329908,31.28,-1.00
195253,100 Freestyle SCY Male,20,48.36,Luke Johnson,VASSAR,NS,2022-02-19,M,III,21_22,2022,0 days 00:00:48.360000,48.36,561.642302,725,2708,1329908,31.28,-1.00
195325,200 Freestyle SCY Male,32,1:47.99,Luke Johnson,VASSAR,NS,2022-02-17,M,III,21_22,2022,0 days 00:01:47.990000,107.99,556.205126,776,2724,1329908,31.28,-1.00
195369,500 Freestyle SCY Male,23,4:56.21,Luke Johnson,VASSAR,NS,2022-02-16,M,III,21_22,2022,0 days 00:04:56.210000,296.21,547.412694,578,1912,1329908,31.28,-1.00
195404,1000 Freestyle SCY Male,29,11:08.72,Luke Johnson,VASSAR,NS,2021-11-13,M,III,21_22,2022,0 days 00:11:08.720000,668.72,453.919639,592,1571,1329908,31.28,-1.00
195547,100 Breaststroke SCY Male,42,1:04.62,Luke Johnson,VASSAR,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:04.620000,64.62,428.305378,914,2355,1329908,31.28,-1.00
195585,200 Breaststroke SCY Male,44,2:32.57,Luke Johnson,VASSAR,NS,2022-01-17,M,III,21_22,2022,0 days 00:02:32.570000,152.57,338.692082,906,2153,1329908,31.28,-1.00
206089,50 Freestyle SCY Male,24,21.91,Luke Johnson,VASSAR,NS,2023-02-16,M,III,22_23,2023,0 days 00:00:21.910000,21.91,520.990500,675,2540,1329908,31.28,-1.00
206151,100 Freestyle SCY Male,28,48.22,Luke Johnson,VASSAR,NS,2023-02-18,M,III,22_23,2023,0 days 00:00:48.220000,48.22,566.548467,753,2735,1329908,31.28,-1.00
206220,200 Freestyle SCY Male,29,1:47.06,Luke Johnson,VASSAR,NS,2023-02-17,M,III,22_23,2023,0 days 00:01:47.060000,107.06,570.826193,708,2561,1329908,31.28,-1.00
206272,500 Freestyle SCY Male,43,5:08.46,Luke Johnson,VASSAR,NS,2022-12-02,M,III,22_23,2023,0 days 00:05:08.460000,308.46,484.749590,921,2413,1329908,31.28,-1.00
206425,50 Breaststroke SCY Male,12,30.45,Luke Johnson,VASSAR,NS,2023-01-28,M,III,22_23,2023,0 days 00:00:30.450000,30.45,439.431409,297,623,1329908,31.28,-1.00
217168,50 Freestyle SCY Male,27,21.88,Luke Johnson,VASSAR,NS,2024-02-21,M,III,23_24,2024,0 days 00:00:21.880000,21.88,523.136454,689,2570,1329908,31.28,-1.00
217222,100 Freestyle SCY Male,41,48.77,Luke Johnson,VASSAR,NS,2024-02-24,M,III,23_24,2024,0 days 00:00:48.770000,48.77,547.596193,983,3204,1329908,31.28,-1.00
217264,200 Freestyle SCY Male,33,1:47.21,Luke Johnson,VASSAR,NS,2024-02-22,M,III,23_24,2024,0 days 00:01:47.210000,107.21,568.433575,754,2644,1329908,31.28,-1.00
217296,500 Freestyle SCY Male,44,5:03.84,Luke Johnson,VASSAR,NS,2023-12-01,M,III,23_24,2024,0 days 00:05:03.840000,303.84,507.199913,833,2326,1329908,31.28,-1.00
217423,50 Breaststroke SCY Male,13,29.07,Luke Johnson,VASSAR,NS,2024-02-03,M,III,23_24,2024,0 days 00:00:29.070000,29.07,505.030830,231,619,1329908,31.28,-1.00
217560,100 Individual Medley SCY Male,24,1:00.09,Luke Johnson,VASSAR,NS,2024-02-03,M,III,23_24,2024,0 days 00:01:00.090000,60.09,467.293386,604,1215,1329908,31.28,-1.00