In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('swimming_times_1000.xlsx')
df1.head()

,Event,Swim Time,Age,Points,Time Standard,Meet,LSC,Team,Swim Date,PersonKey,SwimEventKey,MeetKey,SortKey,UsasSwimTimeKey
0,50 FR SCY,30.17,14,170,2012-2016 B,2016 NT LAC BB and Under,NT,Lakeside Aquatic Club,01/10/2016,325517,1,94456,2.010003e+09,117238640
1,50 FR SCY,30.73,13,210,"""Slower than B""","2015 NT NTN December ""BB"" and",NT,Lakeside Aquatic Club,12/12/2015,325517,1,87425,2.010003e+09,101373752
2,50 FR SCY,32.31,13,113,"""Slower than B""",2O15 NT MARS D2 L3 Invitational,NT,Lakeside Aquatic Club,05/31/2015,325517,1,119551,2.010003e+09,126543334
3,50 FR SCY,32.63,13,95,"""Slower than B""",2015 NT MARS D2 L3 Invitational,NT,Lakeside Aquatic Club,07/19/2015,325517,1,79314,2.010003e+09,109403838
4,100 FR SCY,1:09.82,13,90,"""Slower than B""",2015 NT LAC Intrasquad Meet,NT,Lakeside Aquatic Club,10/10/2015,325517,2,26123,2.020007e+09,140552299

In [3]:
df2 = pd.read_excel('swimming_times_2000.xlsx')
df2.head()

,Event,Swim Time,Age,Points,Time Standard,Meet,LSC,Team,Swim Date,PersonKey,SwimEventKey,MeetKey,SortKey,UsasSwimTimeKey
0,50 FR SCY,27.05,14,396,"""BB""",2024 MT BYSC Mining City Classic,MT,Bozeman Multisport Aquatics,11/10/2024,727285,1,262874,2.010003e+09,170919406
1,50 FR SCY,27.62,14,352,2020-2024 BB,2024 MT Montana Swimming Short Course State Ch...,MT,Bozeman Multisport Aquatics,02/23/2024,727285,1,254668,2.010003e+09,164571791
2,50 FR SCY,27.67,14,348,2020-2024 BB,2024 MT BY Rubber Duck Open,MT,Bozeman Multisport Aquatics,01/21/2024,727285,1,254358,2.010003e+09,163014629
3,50 FR SCY,27.73r,13,426,2020-2024 BB,2023 MT BOZ Teddy Bear Classic,MT,Bozeman Brookies Swim Team,12/10/2023,727285,1,253435,2.010003e+09,161556852
4,50 FR SCY,28.32,13,381,2020-2024 B,2023 MT BOZ Teddy Bear Classic,MT,Bozeman Brookies Swim Team,12/09/2023,727285,1,253435,2.010003e+09,161548997

In [4]:
df3 = pd.read_excel('swimming_times_second_2000.xlsx')
df3.head()

,Event,Swim Time,Age,Points,Time Standard,Meet,LSC,Team,Swim Date,PersonKey,SwimEventKey,MeetKey,SortKey,UsasSwimTimeKey
0,100 FR SCY,1:10.32,16,93,2004-2008 B,2007 VA Sharks Feeding Frenzy,VA,Valley Swim Team-Phoenix,12/01/2007,580651,2,115924,1.020007e+09,75256060
1,100 FR SCY,1:10.91,16,80,2004-2008 B,2007 PV Nov Open (FISH),VA,Valley Swim Team-Phoenix,11/09/2007,580651,2,45358,1.020007e+09,69128441
2,100 FR SCY,1:11.26,14,100,2004-2008 B,2006 VA Northern District B/C,VA,Valley Swim Team-Phoenix,02/17/2006,580651,2,46860,1.020007e+09,97349415
3,100 FR SCY,1:11.89,14,87,2004-2008 B,2006 VA BASS Spring Sprint BB/,VA,Valley Swim Team-Phoenix,03/25/2006,580651,2,123409,1.020007e+09,115309281
4,100 FR SCY,1:18.71,14,1,"""Slower than B""",2005 VA BASS Winter Reg 4 B/C,VA,Valley Swim Team-Phoenix,11/19/2005,580651,2,5864,1.020008e+09,107977960

In [5]:
df  = pd.concat([df1,df2,df3])
df.to_csv('5000_swimmers.csv', index=False)