In [2]:
import pandas as pd

In [3]:
SCM_male_WR = {
    "Event": [
        "50 FR SCM", "100 FR SCM", "200 FR SCM", "400 FR SCM", "800 FR SCM", "1500 FR SCM",
        "50 BK SCM", "100 BK SCM", "200 BK SCM", "50 BR SCM", "100 BR SCM", "200 BR SCM",
        "50 FL SCM", "100 FL SCM", "200 FL SCM", "100 IM SCM", "200 IM SCM",
        "400 IM SCM",
    ],
    "Time": [
        "19.90", "44.84", "1:38.61", "3:32.25", "7:20.46", "14:06.88", "22.11", "48.33", "1:45.63", "24.95",
        "55.28", "2:00.16", "21.32", "47.71", "1:46.85", "49.28", "1:48.88", "3:54.81"
    ]
}
 
worldRecords_male_scm = pd.DataFrame(SCM_male_WR)
worldRecords_male_scm['gender'] = 'M'
worldRecords_male_scm

          Event      Time gender
0     50 FR SCM     19.90      M
1    100 FR SCM     44.84      M
2    200 FR SCM   1:38.61      M
3    400 FR SCM   3:32.25      M
4    800 FR SCM   7:20.46      M
5   1500 FR SCM  14:06.88      M
6     50 BK SCM     22.11      M
7    100 BK SCM     48.33      M
8    200 BK SCM   1:45.63      M
9     50 BR SCM     24.95      M
10   100 BR SCM     55.28      M
11   200 BR SCM   2:00.16      M
12    50 FL SCM     21.32      M
13   100 FL SCM     47.71      M
14   200 FL SCM   1:46.85      M
15   100 IM SCM     49.28      M
16   200 IM SCM   1:48.88      M
17   400 IM SCM   3:54.81      M

In [6]:
SCM_female_WR = {
    "Event": [
        "50 FR SCM", "100 FR SCM", "200 FR SCM", "400 FR SCM", "800 FR SCM", "1500 FR SCM",
        "50 BK SCM", "100 BK SCM", "200 BK SCM", "50 BR SCM", "100 BR SCM", "200 BR SCM", "50 FL SCM", "100 FL SCM", 
        "200 FL SCM", "100 IM SCM", "200 IM SCM", "400 IM SCM"
    ],
    "Time": [
        "22.83", "50.25", "1:50.31", "3:50.25", "7:57.42", "15:08.24", "25.23", "54.02", "1:58.04", "28.37", 
         "1:02.36", "2:12.50", "23.94", "52.71", "1:59.32", "55.11", "2:01.63", 
        "4:15.48"
    ]}
 
worldRecords_female_scm = pd.DataFrame(SCM_female_WR)
worldRecords_female_scm['gender'] = 'W'
worldRecords_female_scm

          Event      Time gender
0     50 FR SCM     22.83      W
1    100 FR SCM     50.25      W
2    200 FR SCM   1:50.31      W
3    400 FR SCM   3:50.25      W
4    800 FR SCM   7:57.42      W
5   1500 FR SCM  15:08.24      W
6     50 BK SCM     25.23      W
7    100 BK SCM     54.02      W
8    200 BK SCM   1:58.04      W
9     50 BR SCM     28.37      W
10   100 BR SCM   1:02.36      W
11   200 BR SCM   2:12.50      W
12    50 FL SCM     23.94      W
13   100 FL SCM     52.71      W
14   200 FL SCM   1:59.32      W
15   100 IM SCM     55.11      W
16   200 IM SCM   2:01.63      W
17   400 IM SCM   4:15.48      W

In [8]:
LCM_male_wr = {
    "Event": [
        "50 FR LCM", "100 FR LCM", "200 FR LCM", "400 FR LCM", "800 FR LCM", "1500 FR LCM",
        "50 BK LCM", "100 BK LCM", "200 BK LCM", "50 BR LCM", "100 BR LCM", 
        "200 BR LCM", "50 FL LCM", "100 FL LCM", "200 FL LCM", "200 IM LCM", 
        "400 IM LCM"
    ],
    "Time": [
        "20.91", "46.40", "1:42.00", "3:40.07", "7:32.12", "14:30.67", "23.55", "51.60", 
        "1:51.92", "25.95", "56.88", "2:05.48", "22.27", "49.45", "1:50.34", "1:54.00", "4:02.50"
    ]
}
worldRecords_male_lcm = pd.DataFrame(LCM_male_wr)
worldRecords_male_lcm['gender'] = 'M'
worldRecords_male_lcm

          Event      Time gender
0     50 FR LCM     20.91      M
1    100 FR LCM     46.40      M
2    200 FR LCM   1:42.00      M
3    400 FR LCM   3:40.07      M
4    800 FR LCM   7:32.12      M
5   1500 FR LCM  14:30.67      M
6     50 BK LCM     23.55      M
7    100 BK LCM     51.60      M
8    200 BK LCM   1:51.92      M
9     50 BR LCM     25.95      M
10   100 BR LCM     56.88      M
11   200 BR LCM   2:05.48      M
12    50 FL LCM     22.27      M
13   100 FL LCM     49.45      M
14   200 FL LCM   1:50.34      M
15   200 IM LCM   1:54.00      M
16   400 IM LCM   4:02.50      M

In [10]:
LCM_female_wr = {
    "Event": [
        "50 FR LCM", "100 FR LCM", "200 FR LCM", "400 FR LCM", "800 FR LCM", "1500 FR LCM",
        "50 BK LCM", "100 BK LCM", "200 BK LCM", "50 BR LCM", "100 BR LCM", 
        "200 BR LCM", "50 FL LCM", "100 FL LCM", "200 FL LCM", "200 IM LCM", 
        "400 IM LCM"
    ],
    "Time": [
        "23.61", "51.71", "1:52.23", "3:55.38", "8:04.79", "15:20.48", "26.86", "57.13", "2:03.14", 
        "29.16", "1:04.13", "2:17.55", "24.43", "55.18", "2:01.81", "2:06.12", "4:24.38"
    ]
}
worldRecords_female_lcm = pd.DataFrame(LCM_female_wr)
worldRecords_female_lcm['gender'] = 'W'
worldRecords_female_lcm

          Event      Time gender
0     50 FR LCM     23.61      W
1    100 FR LCM     51.71      W
2    200 FR LCM   1:52.23      W
3    400 FR LCM   3:55.38      W
4    800 FR LCM   8:04.79      W
5   1500 FR LCM  15:20.48      W
6     50 BK LCM     26.86      W
7    100 BK LCM     57.13      W
8    200 BK LCM   2:03.14      W
9     50 BR LCM     29.16      W
10   100 BR LCM   1:04.13      W
11   200 BR LCM   2:17.55      W
12    50 FL LCM     24.43      W
13   100 FL LCM     55.18      W
14   200 FL LCM   2:01.81      W
15   200 IM LCM   2:06.12      W
16   400 IM LCM   4:24.38      W

In [11]:
SCY_male_wr = {
    "Event": [
        "50 FR SCY", "100 FR SCY", "200 FR SCY", "500 FR SCY", "1000 FR SCY", "1650 FR SCY",
        "100 BK SCY", "200 BK SCY", "100 BR SCY", "200 BR SCY", "100 FL SCY", 
        "200 FL SCY", "200 IM SCY", "400 IM SCY"
    ],
    "Time": [
        "17.63", "39.90", "1:28.81", "4:02.31", "8:33.93", "14:12.08", "43.35", "1:35.37", 
        "49.53", "1:46.35", "42.80", "1:37.35", "1:36.34", "3:28.82"
    ]
}
worldRecords_male_scy = pd.DataFrame(SCY_male_wr)
worldRecords_male_scy['gender'] = 'M'
worldRecords_male_scy

          Event      Time gender
0     50 FR SCY     17.63      M
1    100 FR SCY     39.90      M
2    200 FR SCY   1:28.81      M
3    500 FR SCY   4:02.31      M
4   1000 FR SCY   8:33.93      M
5   1650 FR SCY  14:12.08      M
6    100 BK SCY     43.35      M
7    200 BK SCY   1:35.37      M
8    100 BR SCY     49.53      M
9    200 BR SCY   1:46.35      M
10   100 FL SCY     42.80      M
11   200 FL SCY   1:37.35      M
12   200 IM SCY   1:36.34      M
13   400 IM SCY   3:28.82      M

In [12]:
SCY_female_wr = {
    "Event": [
        "50 FR SCY", "100 FR SCY", "200 FR SCY", "500 FR SCY", "1000 FR SCY", "1650 FR SCY",
        "100 BK SCY", "200 BK SCY", "100 BR SCY", "200 BR SCY", "100 FL SCY", 
        "200 FL SCY", "200 IM SCY", "400 IM SCY"
    ],
    "Time": [
        "20.37", "44.83", "1:39.10", "4:24.06", "9:06.90", "15:03.31", "48.10", "1:46.87", 
        "55.73", "2:01.29", "47.35", "1:49.16", "1:48.37", "3:54.60"
    ]
}
worldRecords_female_scy = pd.DataFrame(SCY_female_wr)
worldRecords_female_scy['gender'] = 'W'
worldRecords_female_scy

          Event      Time gender
0     50 FR SCY     20.37      W
1    100 FR SCY     44.83      W
2    200 FR SCY   1:39.10      W
3    500 FR SCY   4:24.06      W
4   1000 FR SCY   9:06.90      W
5   1650 FR SCY  15:03.31      W
6    100 BK SCY     48.10      W
7    200 BK SCY   1:46.87      W
8    100 BR SCY     55.73      W
9    200 BR SCY   2:01.29      W
10   100 FL SCY     47.35      W
11   200 FL SCY   1:49.16      W
12   200 IM SCY   1:48.37      W
13   400 IM SCY   3:54.60      W

In [13]:
world_records = pd.concat([worldRecords_female_scy, worldRecords_male_scy,worldRecords_female_lcm, worldRecords_male_lcm, worldRecords_female_scm, worldRecords_male_scm ])
world_records

          Event     Time gender
0     50 FR SCY    20.37      W
1    100 FR SCY    44.83      W
2    200 FR SCY  1:39.10      W
3    500 FR SCY  4:24.06      W
4   1000 FR SCY  9:06.90      W
..          ...      ...    ...
13   100 FL SCM    47.71      M
14   200 FL SCM  1:46.85      M
15   100 IM SCM    49.28      M
16   200 IM SCM  1:48.88      M
17   400 IM SCM  3:54.81      M

[98 rows x 3 columns]

In [14]:
world_records.to_parquet('world_records.parquet', index = False)
world_records.to_csv('world_records.csv', index = False)