In [1]:
import pandas as pd

In [2]:
hs = pd.read_parquet('corrected_cleaned_HS.parquet')
hs.head(2)

,index,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 S Fly Points,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points
ID,,,,,,,,,,,,,,,,,,,,,
515075,0,Tiago ASAKAWA,UMBC,15.96,<NA>,<NA>,23.31,<NA>,50.21,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413265,1,Niklas Weigelt,UMBC,8.38,<NA>,<NA>,23.60,44.36,<NA>,<NA>,...,NaN,NaN,100.0,NaN,18.97,NaN,NaN,100.0,NaN,NaN

In [3]:
col = pd.read_parquet('4YR_cleaned_USAS.parquet')
col.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,15.96
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,8.38

In [4]:
hs.shape

(11587, 92)

In [5]:
col.shape

(299511, 17)

In [6]:
hs.Name.nunique()

11243

In [7]:
col.Name.nunique()

14556

In [8]:
hs[hs.Name=='Aidan Wilson']

,index,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 S Fly Points,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points
ID,,,,,,,,,,,,,,,,,,,,,
608415,1358,Aidan Wilson,Brown University,7.12,22.91,<NA>,<NA>,48.04,<NA>,<NA>,...,NaN,NaN,62.68,NaN,21.95,NaN,NaN,9.52,NaN,NaN
1317892,12980,Aidan Wilson,Kings College (Pennsylvania),83.03,24.06,<NA>,<NA>,53.61,<NA>,<NA>,...,NaN,NaN,NaN,NaN,100.00,NaN,NaN,NaN,NaN,NaN

In [9]:
hs.at[1052055,'Name']='Aidan Wilson'

In [10]:
unique_names_hs = hs['Name'].unique().tolist()
unique_names_col = col['Name'].unique().tolist()

In [11]:
unique_names_hs_lower = [name.lower() for name in unique_names_hs]
unique_names_col_lower = [name.lower() for name in unique_names_col]

count = 0
for name in unique_names_hs_lower:
    found = False
    for name2 in unique_names_col_lower:
        if (name == name2):
            found = True
    if (found == False):
        count = count + 1
        print(name)
print(count)

0

In [12]:
hs = hs.reset_index().drop('index',axis=1)
hs.head(2)

,ID,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 S Fly Points,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points
0,515075,Tiago ASAKAWA,UMBC,15.96,<NA>,<NA>,23.31,<NA>,50.21,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,413265,Niklas Weigelt,UMBC,8.38,<NA>,<NA>,23.60,44.36,<NA>,<NA>,...,NaN,NaN,100.0,NaN,18.97,NaN,NaN,100.0,NaN,NaN

In [13]:
col_filtered = col[col['Name'].str.lower().isin(unique_names_hs_lower)]

In [14]:
col_filtered.shape

(231748, 17)

In [15]:
name_mapping = {
    'Fla Atlantic (M)': 'Florida Atlantic University',
    'Fla Atlantic (W)': 'Florida Atlantic University',
    'Loyola (MD)': 'Loyola University (Maryland)',
    'U.S. Navy': 'U.S. Naval Academy (Navy)',
    'UW-Stevens Point': 'University of Wisconsin-Stevens Point',
    'UWEC': 'University of Wisconsin-Eau Claire',
    'Wash U. MO': 'Washington University (Missouri)',
    'Georgia Tech': 'Georgia Institute of Technology',
    'Virginia MI': 'Virginia Military Institute',
    'Iona Coll': 'Iona University',
    'Wheaton IL': 'Wheaton College (Illinois)',
    'TCNJ': 'College of New Jersey, The',
    'UMSL': 'University of Missouri-St. Louis',
    'Henderson St.': 'Henderson State University',
    'IWU': 'Indiana Wesleyan University',
    'SMU': 'Southern Methodist University',
    'UCSB': 'University of California-Santa Barbara',
    'Missouri St (W)': 'Missouri State University',
    'NC State': 'North Carolina State University',
    'USMMA': 'U.S. Merchant Marine Academy',
    'NDC': 'Notre Dame (Ohio) College',
    'Air Force (W)': 'U.S. Air Force Academy',
    'St. Norbert': 'St Norbert College',
    'W&L': 'Washington and Lee University',
    'UNC Wilmington': 'University of North Carolina, Wilmington',
    'SHIP': 'Shippensburg University',
    'IU Indianapolis': 'Indiana University-Indianapolis',
    'Cal Poly': 'California Polytechnic State University',
    'BSC': 'Birmingham Southern College',
    'Wyoming (M)': 'University of Wyoming',
    'MIT': 'Massachusetts Institute of Technology',
    'Bryant U (W)': 'Bryant University',
    'St. Louis': 'Saint Louis University',
    'UN Omaha': 'University of Nebraska, Omaha',
    'TAMPA': 'University of Tampa',
    'Claremont MS': 'Claremont McKenna-Harvey Mudd-Scripps Colleges',
    'Wheaton MA': 'Wheaton College (Massachusetts)',
    'Evansville (M)': 'University of Evansville',
    'Fla Atlantic (M)': 'Florida Atlantic University',
    'UNE': 'University of New England',
    'Trinity C.': 'Trinity College (Connecticut)',
    'SUNY Geneseo': 'State University of New York at Geneseo',
    'Catholic UA': 'Catholic University',
    'Colorado St.': 'Colorado State University',
    'Frostburg St.': 'Frostburg State University',
    'UNC': 'University of North Carolina, Chapel Hill',
    'F&M': 'Franklin & Marshall College',
    'SUNY Brockport': 'State University of New York at Brockport',
    'Indy': 'University of Indianapolis',
    'Wyoming (W)': 'University of Wyoming',
    'NYU': 'New York University',
    'RIT': 'Rochester Institute of Technology',
    "St. John's": 'Saint Johns University',
    'St. Cloud St.-M': 'Saint Cloud State University',
    'TCU': 'Texas Christian University',
    'Truman St.': 'Truman State University',
    'Caltech': 'California Institute of Technology',
    'Evansville (W)': 'University of Evansville',
    'FDU-Florham': 'Fairleigh Dickinson University, Madison',
    'Illinois-Chicago': 'University of Illinois at Chicago',
    'Xavier': 'Xavier University',
    'MSU Mankato': 'Minnesota State University-Mankato',
    'Linfield': 'Linfield University',
    'LSU': 'Louisiana State University',
    'UW-L': 'University of Wisconsin-LaCrosse',
    'Keene St.': 'Keene State College',
    'Penn St': 'Pennsylvania State University',
    'SIUC (W)': 'Southern Illinois University',
    'Virginia Tech': 'Virginia Tech',
    'VASSAR': 'Vassar College',
    'R-MC': 'Randolph-Macon College',
    'Concordia Irvine': 'Concordia University Irvine',
    'Trinity U.': 'Trinity University (Texas)',
    'Miami (Ohio)': 'Miami University (Ohio)',
    'Michigan': 'University of Michigan',
    'E. Connecticut': 'Eastern Connecticut State University',
    "Mt St Mary's": "Mount Saint Mary's University (MD)",
    'GW': 'George Washington University',
    'Neb Wesleyan': 'Nebraska Wesleyan University',
    'Northwestern': 'Northwestern University',
    "Nova S'eastern": 'Nova Southeastern University',
    'SUNY Oneonta': 'Oneonta State University',
    'LIU': 'Long Island University',
    'IUP': 'Indiana University of Pennsylvania',
    'L&C': 'Lewis and Clark College',
    'Adams St.': 'Adams State University',
    'CALU-PA': 'Pennsylvania Western-California',
    'Bridgewater St.': 'Bridgewater State University',
    'Wis.- Green Bay': 'University of Wisconsin-Green Bay',
    'CMU': 'Carnegie Mellon University',
    'Virginia': 'University of Virginia',
    'YCP': 'York College (Pennsylvania)',
    'UTPB': 'University of Texas Permian Basin',
    'UNC Asheville': 'University of North Carolina Asheville',
    'UNLV (W)': 'University of Nevada, Las Vegas (UNLV)',
    'Washington St.': 'Washington State University',
    'Connecticut': 'Connecticut College',
    'Arcadia': 'Arcadia University',
    'UW-Oshkosh': 'University of Wisconsin-Oshkosh',
    'Bryant U (M)': 'Bryant University',
    'W&J': 'Washington & Jefferson College',
    'Northern Ariz': 'Northern Arizona University',
    'WCU': 'Western Colorado University',
    'WestConn': 'Western Connecticut State University',
    'Notre Dame': 'University of Notre Dame',
    'UNC- Pembroke': 'University of North Carolina-Pembroke',
    'UMary': 'University of Mary',
    'Augustana (M)': 'Augustana University',
    'Army': 'U.S. Military Academy (Army)',
    'Duke': 'Duke University',
    "King's": 'Kings College (Pennsylvania)',
    'Washington': 'Washington College (Maryland)',
    'Sou. Virginia': 'Southern Virginia University',
    'Pacific Lutheran': 'Pacific Lutheran University',
    'Augustana (W)': 'Augustana University',
    "St. Michael's": 'Saint Michaels College',
    'Missouri': 'University of Missouri',
    'Grinnell': 'Grinnell College',
    'Cal Lutheran': 'California Lutheran University',
    'California': 'University of California-Berkeley',
    'GA Southern': 'Georgia Southern University',
    'Hawaii': 'University of Hawaii',
    'Missouri S & T': 'Missouri University of Science & Technology',
    'SUNY New Paltz': 'State University of New York at New Paltz',
    'Alabama': 'University of Alabama',
    'Villanova': 'Villanova University',
    'Monmouth': 'Monmouth University',
    'UC Santa Cruz': 'University of California-Santa Cruz',
    'Montevallo': 'University of Montevallo',
    'CSU East Bay': 'California State University East Bay',
    'SUNY Potsdam': 'State University of New York at Potsdam',
    'Carthage': 'Carthage College',
    'Cal Baptist': 'California Baptist University',
    'Grand Canyon': 'Grand Canyon University',
    'Goucher': 'Goucher College',
    'Pomona-Pitzer': 'Pomona-Pitzer Colleges',
    'Piedmont': 'Piedmont University',
    'Grove City': 'Grove City College',
    'Purdue': 'Purdue University',
    'Illinois Chicago (W)': 'University of Illinois at Chicago',
    'WPUNJ': 'William Paterson University of New Jersey',
    'Hendrix': 'Hendrix College',
    'Rose-Hulman': 'Rose-Hulman Institute of Technology',
    'Virginia Wesleya': 'Virginia Wesleyan University',
    'Hartwick': 'Hartwick College',
    'Auburn': 'Auburn University',
    'Carroll': 'Carroll University (WI)',
    'Penn St. Altoona': 'Pennsylvania State University - Altoona',
    'Assumption': 'Assumption University',
    'McDaniel': 'McDaniel College',
    'Massachusetts': 'University of Massachusetts (Amherst)',
    'Air Force (M)': 'U.S. Air Force Academy',
    'Middlebury': 'Middlebury College',
    'Mines': 'Colorado School of Mines',
    'Minnesota': 'University of Minnesota',
    'Missouri St. (M)': 'Missouri State University',
    'Macalester': 'Macalester College',
    'Wingate': 'Wingate University',
    'Wilmington C.': 'Wilmington College (Ohio',
    'Lynchburg': 'University of Lynchburg',
    'Loy. Marymount': 'Loyola Marymount University',
    'Little Rock': 'University of Arkansas-Little Rock',
    'Nebraska Kearney': 'University of Nebraska at Kearney',
    'Nevada': 'University of Nevada',
    'Lees-McRae': 'Lees-McRae College',
    'Northern Colo': 'University of Northern Colorado',
    'Arizona': 'University of Arizona',
    'Lafayette': 'Lafayette College',
    'Westfield State': 'Westfield State University',
    'Georgia': 'University of Georgia',
    'West Virginia': 'West Virginia University',
    'Ohio St': 'Ohio State University',
    'Old Dominion (W)': 'Old Dominion University',
    'Olivet': 'Olivet Nazarene University',
    'Pacific Oregon': 'Pacific University',
    'John Carroll': 'John Carroll University',
    'Gordon': 'Gordon College (MA)',
    'Behrend': 'Penn State Behrend University',
    'Springfield': 'Springfield College',
    'Davis & Elkins': 'Davis and Elkins College',
    'Texas': 'University of Texas',
    'UNLV (M)': 'University of Nevada, Las Vegas (UNLV)',
    'Clarion': 'Clarion University',
    'CSUB': 'California State University, Bakersfield',
    'St. Francis': 'St Francis College Brooklyn (New York)',
    'Clarkson': 'Clarkson University',
    'Cleveland St': 'Cleveland State University',
    "Saint Peter's": 'Saint Peters University',
    'Texas A&M': 'Texas A&M University',
    'Brown': 'Brown University',
    'Salisbury': 'Salisbury University',
    'St. Thomas': 'University of Saint Thomas (MN)',
    'Emory': 'Emory University',
    'FGCU': 'Florida Gulf Coast University',
    'Seattle U (M)': 'Seattle University',
    'St. Olaf': 'St Olaf College',
    'Chicago': 'University of Chicago',
    'Denver': 'University of Denver',
    'St. Bonaventure': 'St Bonaventure University',
    'Utah': 'University of Utah',
    'Southern Cali': 'University of Southern California',
    'Berry': 'Berry College',
    'SUNY Maritime': 'State Maritime University of New York',
    'Gardner-Webb': 'Gardner-Webb University',
    'South Dakota St': 'South Dakota State University',
    'Campbell': 'Campbell University',
    'Valparaiso (W)': 'Valparaiso University',
    'Florida Tech': 'Florida Tech',
    'Centenary (LA)': 'Centenary College',
    'Transylvania': 'Transylvania University',
    'SUNY Oswego': 'State University of New York at Oswego',
    'Fresno Pacific': 'Fresno Pacific University',
    'Franklin': 'Franklin College',
    'South Dakota': 'University of South Dakota',
    "St. Mary's MD": "Saint Mary's College of Maryland",
    'St. Francis Pa.': 'Saint Francis University (Pennsylvania)',
    'Oberlin': 'Oberlin College',
    'Northern State': 'Northern State University',
    'North Texas': 'University of North Texas',
    'New Mexico': 'University of New Mexico',
    'New Hampshire': 'University of New Hampshire',
    "St. Joseph's LI": "Saint Joseph's University (Long Island)",
    "St. Cloud St.-W": 'Saint Cloud State University',
    'Oakland': 'Oakland University',
    'SUNY Fredonia': 'Fredonia State University',
    "St. Kate's": 'St Catherine University',
    'Montclair St.': 'Montclair State University',
    'Tulane': 'Tulane University',
    'Tufts': 'Tufts University',
    'Michigan St': 'Michigan State University',
    'Millikin': 'Millikin University',
    'Mills': 'Mills College',
    'Towson': 'Towson University',
    'Tennessee': 'University of Tennessee',
    'UMBC': 'UMBC',
    'Worcester Poly': 'Worcester Polytechnic Institute',
    'Westminster': 'Westminster College',
    'Sweet Briar': 'Sweet Briar College',
    'Stevens': 'Stevens Institute',
    'Southwestern': 'Southwestern University',
    'Widener': 'Widener University',
    'NJIT': 'New Jersey Institute of Technology',
    'Whitman': 'Whitman College',
    'NMU': 'Northern Michigan University',
    'Wheeling': 'Wheeling University',
    'Staten Island': 'College of Staten Island',
    'Ouachita': 'Ouachita Baptist University',
    'Southwest Minn.': 'Southwest Minnesota State University',
    'Rollins': 'Rollins College',
    'Ramapo': 'Ramapo College of New Jersey',
    'Redlands': 'University of Redlands',
    'Regis': 'Regis College (Massachusetts)',
    'Rensselaer': 'Rensselaer Polytechnic Institute',
    'Rhode Island': 'University of Rhode Island',
    'Rhodes': 'Rhodes College',
    'Rice': 'Rice University',
    'Richmond': 'University of Richmond',
    'Rider': 'Rider University',
    'Ripon': 'Ripon College',
    'Saint Leo': 'Saint Leo University',
    'Occidental': 'Occidental College',
    'Saint Joseph CT': 'University of Saint Joseph',
    'Saginaw Valley': 'Saginaw Valley State University',
    'Rowan': 'Rowan University',
    'Sacred Heart': 'Sacred Heart University',
    'SJCME': 'Saint Josephs College (Maine)',
    'Vermont': 'University of Vermont',
    'Valparaiso (M)': 'Valparaiso University',
    'SUNY Cobleskill': 'State University of New York at Cobleskill',
    'SUNY Cortland': 'State University of New York at Cortland',
    'SUNY Delhi': 'State University of New York at Delhi',
    'Saint Vincent': 'Saint Vincent College',
    'WVWC': 'West Virginia Wesleyan College',
    'Salem (M)': 'Salem University',
    'Salem College': 'Salem College',
    'Oklahoma Baptist': 'Oklahoma Baptist University',
    'Old Dominion (M)': 'Old Dominion University',
    'Wesleyan': 'Wesleyan University',
    'Skidmore': 'Skidmore College',
    'Vanderbilt': 'Vanderbilt University',
    'Ozarks': 'University of the Ozarks',
    'Sioux Falls': 'University of Sioux Falls',
    'Siena': 'Siena College',
    'Penn': 'University of Pennsylvania',
    'Sewanee': 'University of the South (Sewanee)',
    'Seton Hall': 'Seton Hall University',
    'Seattle U (W)': 'Seattle University',
    'Pepperdine': 'Pepperdine University',
    'Pitt-Bradford': 'University of Pittsburgh-Bradford',
    'Merrimack': 'Merrimack College',
    'Principia': 'Principia College',
    'Providence': 'Providence College',
    'Purchase College': 'Purchase College',
    'San Diego St': 'San Diego State University',
    'Queens (NC)': 'Queens University Charlotte',
    'Quincy': 'Quincy University',
    'Miami (FL)': 'University of Miami (Florida)',
    'Messiah': 'Messiah University',
    'Florida': 'University of Florida',
    'Coast Guard': 'U.S. Coast Guard Academy',
    'Biola University': 'Biola University',
    'Greensboro Coll.': 'Greensboro College',
    'Jewell': 'William Jewell College'
}

In [16]:
col_filtered['School'] = col_filtered['School'].replace(name_mapping)
hs['School'] = hs['School'].replace(name_mapping)

/tmp/ipykernel_1194081/2991944834.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  col_filtered['School'] = col_filtered['School'].replace(name_mapping)
/tmp/ipykernel_1194081/2991944834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col_filtered['School'] = col_filtered['School'].replace(name_mapping)

In [19]:
# Group hs by 'Name' and collect the unique 'School's associated with each 'Name'
hs_schools_grouped = hs.groupby('Name')['School'].apply(set).to_dict()

# Group col_filtered by 'Name' and collect the unique 'School's associated with each 'Name'
col_filtered_schools_grouped = col_filtered.groupby('Name')['School'].apply(set).to_dict()

# Create a list to store the results of the comparison
comparison_results = []

# For each 'Name' in col_filtered, check if all associated 'School's are also in hs
for name, schools in col_filtered_schools_grouped.items():
    # Get the schools associated with the current 'Name' in hs
    hs_schools = hs_schools_grouped.get(name, set())
    
    # Check if all schools in col_filtered for this 'Name' are also in hs
    is_subset = schools.issubset(hs_schools)
    
    # Append the result to the comparison_results list
    comparison_results.append((name, is_subset))

# Convert comparison_results to a DataFrame for easy inspection
comparison_df = pd.DataFrame(comparison_results, columns=['Name', 'All_Schools_Match'])

# Display the result
comparison_df.head()

                Name  All_Schools_Match
0          A.J. Zako               True
1          AJ Huskey               True
2         AJ Mainord               True
3            AJ Nybo               True
4  ARTHUR KISELNIKOV               True

In [20]:
col_filtered.Name = col_filtered.Name.astype('string')
hs.Name = hs.Name.astype('string')

/tmp/ipykernel_1194081/629196001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col_filtered.Name = col_filtered.Name.astype('string')

In [22]:
# 1. Create a list of Names for which all schools match (True) and Names where all schools don't match (False)
names_with_matching_schools = comparison_df[comparison_df['All_Schools_Match'] == True]['Name'].tolist()
names_with_non_matching_schools = comparison_df[comparison_df['All_Schools_Match'] == False]['Name'].tolist()

# 2. Create the hs_reset and mappings
hs_reset = hs.reset_index()
hs_reset.Name = hs_reset.Name.astype('string')

# Create a new column 'Name_School' that combines 'Name' and 'School' for mapping
hs_reset['Name_School'] = hs_reset['Name'] + " - " + hs_reset['School']
name_school_to_id_mapping = hs_reset.set_index('Name_School')['ID'].to_dict()
name_to_id_mapping = hs_reset.set_index('Name')['ID'].to_dict()

# 3. Create a copy of col_filtered to avoid modifying a view
col_filtered_copy = col_filtered.copy()

# Initialize 'Name_School' and 'ID' columns
col_filtered_copy['Name_School'] = col_filtered_copy['Name'] + " - " + col_filtered_copy['School']
col_filtered_copy['ID'] = None  # Initialize the ID column

# 4. Apply mappings using vectorized operations
# Map for Names where all schools match (Name_School mapping)
mask_matching = col_filtered_copy['Name'].isin(names_with_matching_schools)
col_filtered_copy.loc[mask_matching, 'ID'] = col_filtered_copy.loc[mask_matching, 'Name_School'].map(name_school_to_id_mapping)

# Map for Names where not all schools match (Name-only mapping)
mask_non_matching = col_filtered_copy['Name'].isin(names_with_non_matching_schools)
col_filtered_copy.loc[mask_non_matching, 'ID'] = col_filtered_copy.loc[mask_non_matching, 'Name'].map(name_to_id_mapping)

# Ensure the 'ID' column is of the correct type
col_filtered_copy['ID'] = col_filtered_copy['ID'].astype('category')

# Display the result
col_filtered_copy.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,Name_School,ID
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,15.96,Tiago ASAKAWA - UMBC,515075
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,8.38,Niklas Weigelt - UMBC,413265

In [27]:
col_filtered_copy.shape

(231748, 19)

In [26]:
col_filtered_copy.ID.nunique()

11405

In [30]:
col_filtered_copy[col_filtered_copy.Name=='Brianna Brunk']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,Name_School,ID
254774,50 Freestyle SCY Female,108,28.65,Brianna Brunk,Millikin University,NS,2022-02-17,F,III,21_22,2022,0 days 00:00:28.650000,28.65,359.417491,2574.0,6718.0,-1.0,Brianna Brunk - Millikin University,1309404
254869,100 Freestyle SCY Female,95,1:02.75,Brianna Brunk,Millikin University,NS,2022-02-19,F,III,21_22,2022,0 days 00:01:02.750000,62.75,364.640603,2493.0,6593.0,-1.0,Brianna Brunk - Millikin University,1309404
254937,200 Freestyle SCY Female,63,2:12.38,Brianna Brunk,Millikin University,NS,2021-11-21,F,III,21_22,2022,0 days 00:02:12.380000,132.38,419.521124,1775.0,5139.0,-1.0,Brianna Brunk - Millikin University,1309404
255012,500 Freestyle SCY Female,62,6:36.97,Brianna Brunk,Millikin University,NS,2021-11-06,F,III,21_22,2022,0 days 00:06:36.970000,396.97,294.330179,1634.0,4001.0,-1.0,Brianna Brunk - Millikin University,1309404
255109,50 Backstroke SCY Female,47,34.21,Brianna Brunk,Millikin University,NS,2021-10-30,F,III,21_22,2022,0 days 00:00:34.210000,34.21,105.405882,1254.0,2946.0,-1.0,Brianna Brunk - Millikin University,1309404
255195,200 Backstroke SCY Female,35,2:31.50,Brianna Brunk,Millikin University,NS,2021-11-20,F,III,21_22,2022,0 days 00:02:31.500000,151.50,351.018115,1062.0,2988.0,-1.0,Brianna Brunk - Millikin University,1309404
255210,50 Breaststroke SCY Female,12,40.27,Brianna Brunk,Millikin University,NS,2021-12-10,F,III,21_22,2022,0 days 00:00:40.270000,40.27,276.660147,501.0,1036.0,-1.0,Brianna Brunk - Millikin University,1309404
255259,100 Breaststroke SCY Female,62,1:30.69,Brianna Brunk,Millikin University,NS,2022-01-29,F,III,21_22,2022,0 days 00:01:30.690000,90.69,232.053928,1525.0,3633.0,-1.0,Brianna Brunk - Millikin University,1309404
255302,50 Butterfly SCY Female,13,33.28,Brianna Brunk,Millikin University,NS,2021-12-10,F,III,21_22,2022,0 days 00:00:33.280000,33.28,296.029283,632.0,1305.0,-1.0,Brianna Brunk - Millikin University,1309404
255449,200 Individual Medley SCY Female,53,2:36.19,Brianna Brunk,Millikin University,NS,2021-11-20,F,III,21_22,2022,0 days 00:02:36.190000,156.19,334.016211,1593.0,4428.0,-1.0,Brianna Brunk - Millikin University,1309404
286852,50 Freestyle SCY Female,98,28.41,Brianna Brunk,Millikin University,NS,2023-02-16,F,III,22_23,2023,0 days 00:00:28.410000,28.41,368.603442,2508.0,6615.0,-1.0,Brianna Brunk - Millikin University,1309404
286923,100 Freestyle SCY Female,93,1:07.27,Brianna Brunk,Millikin University,NS,2023-01-13,F,III,22_23,2023,0 days 00:01:07.270000,67.27,295.966075,2879.0,7103.0,-1.0,Brianna Brunk - Millikin University,1309404
286972,200 Freestyle SCY Female,64,2:15.54,Brianna Brunk,Millikin University,NS,2023-02-17,F,III,22_23,2023,0 days 00:02:15.540000,135.54,390.857563,1963.0,5379.0,-1.0,Brianna Brunk - Millikin University,1309404
287013,500 Freestyle SCY Female,43,6:00.66,Brianna Brunk,Millikin University,NS,2023-02-16,F,III,22_23,2023,0 days 00:06:00.660000,360.66,392.476738,1298.0,3604.0,-1.0,Brianna Brunk - Millikin University,1309404
287042,1000 Freestyle SCY Female,27,12:48.08,Brianna Brunk,Millikin University,NS,2023-01-13,F,III,22_23,2023,0 days 00:12:48.080000,768.08,360.997671,809.0,2247.0,-1.0,Brianna Brunk - Millikin University,1309404
287086,50 Backstroke SCY Female,35,34.50,Brianna Brunk,Millikin University,NS,2022-10-22,F,III,22_23,2023,0 days 00:00:34.500000,34.50,102.770101,1224.0,2944.0,-1.0,Brianna Brunk - Millikin University,1309404
287169,100 Breaststroke SCY Female,43,1:28.15,Brianna Brunk,Millikin University,NS,2022-10-22,F,III,22_23,2023,0 days 00:01:28.150000,88.15,252.697054,1443.0,3504.0,-1.0,Brianna Brunk - Millikin University,1309404
287195,200 Breaststroke SCY Female,35,3:05.69,Brianna Brunk,Millikin University,NS,2022-11-20,F,III,22_23,2023,0 days 00:03:05.690000,185.69,278.682334,1069.0,2708.0,-1.0,Brianna Brunk - Millikin University,1309404
287233,100 Butterfly SCY Female,49,1:14.82,Brianna Brunk,Millikin University,NS,2022-11-19,F,III,22_23,2023,0 days 00:01:14.820000,74.82,253.458487,1639.0,4548.0,-1.0,Brianna Brunk - Millikin University,1309404
287249,200 Butterfly SCY Female,21,2:37.39,Brianna Brunk,Millikin University,NS,2023-02-18,F,III,22_23,2023,0 days 00:02:37.390000,157.39,333.625452,722.0,2367.0,-1.0,Brianna Brunk - Millikin University,1309404
287303,200 Individual Medley SCY Female,54,2:44.66,Brianna Brunk,Millikin University,NS,2022-10-22,F,III,22_23,2023,0 days 00:02:44.660000,164.66,285.077464,1725.0,4548.0,-1.0,Brianna Brunk - Millikin University,1309404
299170,50 Freestyle SCY Female,52,30.72,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2023-11-17,F,III,23_24,2024,0 days 00:00:30.720000,30.72,291.547588,3055.0,7365.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299199,100 Freestyle SCY Female,52,1:07.19,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2023-10-21,F,III,23_24,2024,0 days 00:01:07.190000,67.19,297.024514,2845.0,7059.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299216,200 Freestyle SCY Female,34,2:23.21,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2024-01-13,F,III,23_24,2024,0 days 00:02:23.210000,143.21,331.360647,2266.0,5731.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299229,500 Freestyle SCY Female,16,5:48.26,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2024-02-15,F,III,23_24,2024,0 days 00:05:48.260000,348.26,435.910239,1115.0,3364.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299246,1000 Freestyle SCY Female,9,12:14.46,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2024-01-19,F,III,23_24,2024,0 days 00:12:14.460000,734.46,412.875702,637.0,2040.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299255,1650 Freestyle SCY Female,7,20:00.16,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2024-02-17,F,III,23_24,2024,0 days 00:20:00.160000,1200.16,426.376254,548.0,1627.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299332,50 Butterfly SCY Female,10,34.04,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2023-11-17,F,III,23_24,2024,0 days 00:00:34.040000,34.04,276.640634,691.0,1544.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299346,100 Butterfly SCY Female,30,1:15.12,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2023-11-17,F,III,23_24,2024,0 days 00:01:15.120000,75.12,250.433955,1637.0,4595.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299353,200 Butterfly SCY Female,12,2:40.57,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2023-12-02,F,III,23_24,2024,0 days 00:02:40.570000,160.57,314.193618,798.0,2418.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404
299389,400 Individual Medley SCY Female,12,5:19.06,Brianna Brunk,Rose-Hulman Institute of Technology,NS,2024-02-16,F,III,23_24,2024,0 days 00:05:19.060000,319.06,397.527283,722.0,2198.0,-1.0,Brianna Brunk - Rose-Hulman Institute of Techn...,1309404

In [31]:
# Create a list to store the results of the comparison, including non-matching schools and all schools in hs
detailed_comparison_results = []

# For each 'Name' in col_filtered, check which 'School's don't match in hs
for name, schools in col_filtered_schools_grouped.items():
    # Get the schools associated with the current 'Name' in hs
    hs_schools = hs_schools_grouped.get(name, set())
    
    # Find the schools in col_filtered that are not in hs
    non_matching_schools = schools - hs_schools
    
    # If there are non-matching schools, add them to the results
    if non_matching_schools:
        detailed_comparison_results.append((name, non_matching_schools, hs_schools))

# Convert detailed_comparison_results to a DataFrame for easy inspection
non_matching_df = pd.DataFrame(detailed_comparison_results, columns=['Name', 'Non_Matching_Schools', 'All_Schools_in_hs'])

# Display the result
non_matching_df.head(20)

,Name,Non_Matching_Schools,All_Schools_in_hs
0,Aaron Parrott,{Louisiana State University},{Louisville}
1,Abbey Webb,{North Carolina State University},{Auburn University}
2,Abby Martin,"{Connecticut College, Bridgewater}",{University of Connecticut}
3,Abby Miller,{University of Southern California},"{Hartwick College, University of Vermont}"
4,Abdelrahman Elaraby,{University of Notre Dame},{Louisville}
5,Abigail Gibbons,{Bates},{Auburn University}
6,Abigail Greene,{Westminster College},{PennWest}
7,Abigail Nelson,{Incarnate Word},{Northern Arizona University}
8,Abram Hagedorn,{McKendree},{Notre Dame (Ohio) College}
9,Adam Jones,{Carson-Newman},{Birmingham Southern College}
10,Adam Mahler,"{Pittsburgh, University of North Carolina, Cha...",{East Carolina}
11,Addi Odonnell,{Western Colorado University},{West Chester University}
12,Addison Smith,"{University of North Carolina, Chapel Hill}",{Princeton}
13,Adela Vavrinova,{Arkansas},{East Carolina}
14,Adrian Aguilar,"{University of Tampa, Macalester College}",{Florida St}
15,Adrian Paseta,{Saint Louis University},"{California State University, Bakersfield}"
16,Adrianna Barone,{Gardner-Webb University},{Florida Int'l}
17,Aeson Akins,{Augustana University},{Augustana College}
18,Aidah Shuttleworth,{Hanover},{Bethany}
19,Aidan Campbell,{Randolph-Macon College},{Rainey McCullers School}

In [32]:
non_matching_df.shape

(1047, 3)

In [34]:
col_filtered = col_filtered_copy

In [35]:
col_filtered[col_filtered.Name=='Nicholas Edwards']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,Name_School,ID
78061,50 Freestyle SCY Male,36,25.97,Nicholas Edwards,Western Connecticut State University,NS,2019-11-07,M,III,19_20,2020,0 days 00:00:25.970000,25.97,312.853550,2630.0,5656.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78070,100 Freestyle SCY Male,32,57.14,Nicholas Edwards,Western Connecticut State University,NS,2019-11-24,M,III,19_20,2020,0 days 00:00:57.140000,57.14,340.484996,2508.0,5501.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78089,50 Backstroke SCY Male,15,29.46,Nicholas Edwards,Western Connecticut State University,NS,2019-12-07,M,III,19_20,2020,0 days 00:00:29.460000,29.46,316.186913,1023.0,2175.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78096,100 Backstroke SCY Male,20,1:07.79,Nicholas Edwards,Western Connecticut State University,NS,2019-11-23,M,III,19_20,2020,0 days 00:01:07.790000,67.79,261.499224,1457.0,3151.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78101,200 Backstroke SCY Male,17,2:31.97,Nicholas Edwards,Western Connecticut State University,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:31.970000,151.97,247.150650,1066.0,2330.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78111,100 Breaststroke SCY Male,23,1:24.47,Nicholas Edwards,Western Connecticut State University,NS,2019-10-12,M,III,19_20,2020,0 days 00:01:24.470000,84.47,191.755092,1508.0,3078.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78119,50 Butterfly SCY Male,24,27.99,Nicholas Edwards,Western Connecticut State University,NS,2019-12-07,M,III,19_20,2020,0 days 00:00:27.990000,27.99,359.377211,530.0,1012.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78124,100 Butterfly SCY Male,19,1:06.24,Nicholas Edwards,Western Connecticut State University,NS,2019-11-07,M,III,19_20,2020,0 days 00:01:06.240000,66.24,269.755517,1818.0,4052.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78130,100 Individual Medley SCY Male,12,1:03.69,Nicholas Edwards,Western Connecticut State University,NS,2020-02-16,M,III,19_20,2020,0 days 00:01:03.690000,63.69,392.448343,738.0,1340.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
78137,200 Individual Medley SCY Male,17,2:28.14,Nicholas Edwards,Western Connecticut State University,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:28.140000,148.14,275.044462,1604.0,3621.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
91286,100 Freestyle SCY Male,24,49.68,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-10-23,M,III,21_22,2022,0 days 00:00:49.680000,49.68,518.052681,1199.0,3557.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91313,200 Freestyle SCY Male,5,1:42.51,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:42.510000,102.51,650.259805,232.0,1389.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91471,100 Breaststroke SCY Male,10,1:01.66,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:01.660000,61.66,492.996490,624.0,1887.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91495,200 Breaststroke SCY Male,14,2:23.19,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-01-07,M,III,21_22,2022,0 days 00:02:23.190000,143.19,409.707973,732.0,1908.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91512,100 Butterfly SCY Male,12,53.62,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:53.620000,53.62,508.570164,631.0,2384.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91534,200 Butterfly SCY Male,2,1:54.66,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:01:54.660000,114.66,612.029076,181.0,932.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
91564,200 Individual Medley SCY Male,3,1:54.21,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:54.210000,114.21,600.215949,192.0,1126.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
93072,200 Freestyle SCY Male,36,2:05.72,Nicholas Edwards,Western Connecticut State University,NS,2022-01-21,M,III,21_22,2022,0 days 00:02:05.720000,125.72,352.510854,2085.0,4639.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93094,500 Freestyle SCY Male,23,6:08.64,Nicholas Edwards,Western Connecticut State University,NS,2022-01-12,M,III,21_22,2022,0 days 00:06:08.640000,368.64,283.992349,1431.0,3122.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93135,50 Backstroke SCY Male,19,29.31,Nicholas Edwards,Western Connecticut State University,NS,2021-12-04,M,III,21_22,2022,0 days 00:00:29.310000,29.31,321.066255,1027.0,2190.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93160,100 Backstroke SCY Male,25,1:06.20,Nicholas Edwards,Western Connecticut State University,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:06.200000,66.20,280.797565,1420.0,3107.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93178,200 Backstroke SCY Male,17,2:30.12,Nicholas Edwards,Western Connecticut State University,NS,2022-02-05,M,III,21_22,2022,0 days 00:02:30.120000,150.12,256.400980,1016.0,2288.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93237,50 Butterfly SCY Male,17,27.21,Nicholas Edwards,Western Connecticut State University,NS,2022-02-21,M,III,21_22,2022,0 days 00:00:27.210000,27.21,391.177263,480.0,914.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93256,100 Butterfly SCY Male,22,1:00.76,Nicholas Edwards,Western Connecticut State University,NS,2022-02-20,M,III,21_22,2022,0 days 00:01:00.760000,60.76,349.524813,1583.0,3859.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93293,100 Individual Medley SCY Male,26,1:07.66,Nicholas Edwards,Western Connecticut State University,NS,2022-01-14,M,III,21_22,2022,0 days 00:01:07.660000,67.66,327.340895,757.0,1341.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
93311,200 Individual Medley SCY Male,19,2:20.34,Nicholas Edwards,Western Connecticut State University,NS,2022-02-20,M,III,21_22,2022,0 days 00:02:20.340000,140.34,323.500912,1545.0,3616.0,-1.0,Nicholas Edwards - Western Connecticut State U...,490867
120461,100 Freestyle SCY Male,6,47.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-12-03,M,III,22_23,2023,0 days 00:00:47.340000,47.34,598.734007,486.0,2134.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120498,200 Freestyle SCY Male,20,1:49.31,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-01-28,M,III,22_23,2023,0 days 00:01:49.310000,109.31,536.297691,954.0,3026.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120597,100 Breaststroke SCY Male,6,58.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:58.340000,58.34,582.043059,258.0,1121.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120618,100 Butterfly SCY Male,7,51.39,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:51.390000,51.39,577.690804,311.0,1591.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120633,200 Butterfly SCY Male,4,1:55.39,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:01:55.390000,115.39,600.486637,197.0,1047.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038
120656,200 Individual Medley SCY Male,5,1:57.32,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:01:57.320000,117.32,553.737280,393.0,1710.0,-1.0,Nicholas Edwards - Rose-Hulman Institute of Te...,663038

In [36]:
col_filtered.shape

(231748, 19)

In [37]:
hs[hs.Name=='Nicholas Edwards']

,ID,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 S Fly Points,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points
3171,490867,Nicholas Edwards,Western Connecticut State University,100.00,<NA>,<NA>,<NA>,55.88,<NA>,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11437,663038,Nicholas Edwards,Rose-Hulman Institute of Technology,25.38,22.16,<NA>,<NA>,47.46,<NA>,<NA>,...,NaN,NaN,NaN,NaN,37.73,NaN,NaN,52.17,NaN,NaN

In [38]:
mini_df = col_filtered[['ID','Gender']].drop_duplicates()
mini_df.head()

       ID Gender
0  515075      M
1  413265      M
2  394588      M
3  471360      M
4  395308      M

In [39]:
mini_df_unique = mini_df.drop_duplicates(subset='ID')

# Now merge the dataframes
hs = hs.merge(mini_df_unique[['ID', 'Gender']], on='ID', how='left')
hs.head()

,ID,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points,Gender
0,515075,Tiago ASAKAWA,UMBC,15.96,<NA>,<NA>,23.31,<NA>,50.21,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
1,413265,Niklas Weigelt,UMBC,8.38,<NA>,<NA>,23.60,44.36,<NA>,<NA>,...,NaN,100.00,NaN,18.97,NaN,NaN,100.00,NaN,NaN,M
2,394588,Ben Beldner,Binghamton,22.71,21.22,<NA>,<NA>,47.00,<NA>,<NA>,...,NaN,NaN,NaN,70.80,NaN,NaN,NaN,NaN,NaN,M
3,471360,Justin Meyn,Binghamton,10.06,20.87,<NA>,<NA>,45.40,<NA>,<NA>,...,NaN,2.45,NaN,21.65,NaN,NaN,27.34,NaN,NaN,M
4,395308,Joshua Franco,New Jersey Institute of Technology,12.40,21.31,<NA>,<NA>,45.65,<NA>,<NA>,...,NaN,100.00,NaN,17.99,NaN,NaN,28.48,NaN,NaN,M

In [42]:
hs[hs.Name=='Nicholas Edwards']

,ID,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points,Gender
3171,490867,Nicholas Edwards,Western Connecticut State University,100.00,<NA>,<NA>,<NA>,55.88,<NA>,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
11437,663038,Nicholas Edwards,Rose-Hulman Institute of Technology,25.38,22.16,<NA>,<NA>,47.46,<NA>,<NA>,...,NaN,NaN,NaN,37.73,NaN,NaN,52.17,NaN,NaN,M

In [43]:
hs.dtypes

ID                         object
Name               string[python]
School                   category
Power                     float64
50 Y Free Time     string[python]
                        ...
200 L IM Points           float64
400 Y IM Points           float64
400 S IM Points           float64
400 L IM Points           float64
Gender                   category
Length: 93, dtype: object

In [44]:
hs.ID = hs.ID.astype('int64')

In [45]:
col_filtered.dtypes
col_filtered.ID = col_filtered.ID.astype('int64')
col_filtered.dtypes

Event                 category
Conf_Rank                int64
Time            string[python]
Name            string[python]
School                category
Standard              category
Date            datetime64[ns]
Gender                category
Division              category
Season                category
SeasonYear               int64
Time_Adj       timedelta64[ns]
Time_Sec               float64
Points                 float64
Div_Rank               float64
NCAA_Rank              float64
Power                  float64
Name_School     string[python]
ID                       int64
dtype: object

In [46]:
hs.to_parquet('corrected_HS_1_20.parquet',index=True)
col_filtered.to_parquet('corrected_Col_1_20.parquet',index=True)