In [1]:
import pandas as pd

In [2]:
pwd

'/home/calviet/MA384/Swim-Analysis/Main'

In [3]:
df = pd.read_parquet('../Initial_Preprocessing/dtypes_5000_swimmers.parquet')
df.head()

,Event,Swim Time,Age,Points,Time Standard,Meet,LSC,Team,Swim Date,PersonKey,SwimEventKey,MeetKey,SortKey,UsasSwimTimeKey
0,50 FR SCY,0 days 00:00:30.170000,14,170,2012-2016 B,2016 NT LAC BB and Under,NT,Lakeside Aquatic Club,2016-01-10,325517,1,94456,2.010003e+09,117238640
1,50 FR SCY,0 days 00:00:30.730000,13,210,"""Slower than B""","2015 NT NTN December ""BB"" and",NT,Lakeside Aquatic Club,2015-12-12,325517,1,87425,2.010003e+09,101373752
2,50 FR SCY,0 days 00:00:32.310000,13,113,"""Slower than B""",2O15 NT MARS D2 L3 Invitational,NT,Lakeside Aquatic Club,2015-05-31,325517,1,119551,2.010003e+09,126543334
3,50 FR SCY,0 days 00:00:32.630000,13,95,"""Slower than B""",2015 NT MARS D2 L3 Invitational,NT,Lakeside Aquatic Club,2015-07-19,325517,1,79314,2.010003e+09,109403838
4,100 FR SCY,0 days 00:01:09.820000,13,90,"""Slower than B""",2015 NT LAC Intrasquad Meet,NT,Lakeside Aquatic Club,2015-10-10,325517,2,26123,2.020007e+09,140552299

In [4]:
df.shape

(444243, 14)

In [5]:
df.PersonKey.nunique()

4934

In [6]:
by_person = df.groupby('PersonKey')
by_person.apply(lambda x:x.head(2),include_groups=False).head()

                      Event              Swim Time  Age  Points Time Standard  \
PersonKey
100035    127272  50 FR SCY 0 days 00:00:30.690000   14     257   2012-2016 B
          127273  50 FR SCY 0 days 00:00:30.700000   16     227   2016-2020 B
100100    165271  50 FR SCY 0 days 00:00:29.840000   15     288   2016-2020 B
          165272  50 FR SCY 0 days 00:00:29.900000   15     284   2016-2020 B
100796    54047   50 FR SCY 0 days 00:00:28.570000   14     280   2020-2024 B

                                                  Meet LSC  \
PersonKey
100035    127272    2015 AZ Regional SC Champs at Mesa  AZ
          127273  2017 AZ Junior Olympic Champs at SAC  AZ
100100    165271                    2018 PC SSF C/B/A+  PC
          165272                    2018 PC VJO C/B/A+  PC
100796    54047              2021 MI Back to Pool Meet  MI

                                  Team  Swim Date  SwimEventKey  MeetKey  \
PersonKey
100035    127272      SunWest Swimming 2015-02-20             1    53614
          127273       Anthem Dolphins 2017-02-24             1   153346
100100    165271  SFRP Rossi Swim Team 2018-09-15             1    15232
          165272  SFRP Rossi Swim Team 2018-10-21             1   127657
100796    54047      Flint 'Y' Falcons 2021-10-10             1    17805

                       SortKey  UsasSwimTimeKey
PersonKey
100035    127272  1.010003e+09        112792148
          127273  1.010003e+09        124785206
100100    165271  1.010003e+09        138612911
          165272  1.010003e+09        134033357
100796    54047   2.010003e+09         33638852

In [7]:
in_college = by_person.filter(lambda x:x.Age.max() > 20)

In [8]:
in_college.shape

(81639, 14)

In [9]:
df.dtypes

Event                     category
Swim Time          timedelta64[ns]
Age                          int64
Points                       int64
Time Standard             category
Meet                      category
LSC                       category
Team                      category
Swim Date           datetime64[ns]
PersonKey                    int64
SwimEventKey                 int64
MeetKey                      int64
SortKey                    float64
UsasSwimTimeKey              int64
dtype: object

In [10]:
df['swim_time_seconds'] = df['Swim Time'].dt.total_seconds()

In [11]:
df.head(3)

,Event,Swim Time,Age,Points,Time Standard,Meet,LSC,Team,Swim Date,PersonKey,SwimEventKey,MeetKey,SortKey,UsasSwimTimeKey,swim_time_seconds
0,50 FR SCY,0 days 00:00:30.170000,14,170,2012-2016 B,2016 NT LAC BB and Under,NT,Lakeside Aquatic Club,2016-01-10,325517,1,94456,2.010003e+09,117238640,30.17
1,50 FR SCY,0 days 00:00:30.730000,13,210,"""Slower than B""","2015 NT NTN December ""BB"" and",NT,Lakeside Aquatic Club,2015-12-12,325517,1,87425,2.010003e+09,101373752,30.73
2,50 FR SCY,0 days 00:00:32.310000,13,113,"""Slower than B""",2O15 NT MARS D2 L3 Invitational,NT,Lakeside Aquatic Club,2015-05-31,325517,1,119551,2.010003e+09,126543334,32.31